{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 col-md-offset-1">

                <ol class="breadcrumb">
                    <li><a href="{{ url_for('web.show_cores') }}">Cores</a></li>
                    <li><a href="{{ url_for('web.show_core', id=post.core.id) }}">{{ post.core.name }}</a></li>
                    <li>{{ post.title }}</li>
                </ol>

                <h1 class="page-header text-primary">{{ post.title }}</h1>

                <p>
                    <em>Created
                        <time class="moment">{{ post.created_on.isoformat() }}Z</time>
                        by
                        {% if post.author.id == current_user.id %}
                            you
                        {% else %}
                            <a href="{{ url_for('web.show_user', id=post.author.id) }}">{{ post.author.name }}</a>
                        {% endif %}
                    </em>
                    {% if post.updated_on %}
                        <span class="label label-primary pull-right">Edited
                        <time class="moment">{{ post.updated_on.isoformat() }}Z</time>
                    </span>
                    {% endif %}
                </p>

                {% if post.author.id == current_user.id %}
                    <p class="text-muted">
                        <span class="glyphicon glyphicon-question-sign"></span>
                        Double click on the post to edit in place.
                    </p>
                {% endif %}

                <div id="post-message"></div>
                <div id="post-edit">
                    <div id="post">{{ post.body|md2html|safe }}</div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {

            {% if post.author.id == current_user.id %}

                var close = '<a href="#" class="close" data-dismiss="alert">&times</a>';

                $('#post-edit').dblclick(function () {
                    $('#post').markdown({
                        hideable: true,
                        height: 400,
                        onBlur: function (e) {
                            $.ajax('{{ url_for('web.update_post', id=post.id) }}', {
                                method: 'post',
                                data: {body: e.getContent()},
                                success: function () {
                                    $('#post-message').html($('<div class="alert alert-success"></div>')
                                            .text('Changes saved successfully.').append(close));
                                },
                                error: function () {
                                    $('#post-message').html($('<div class="alert alter-danger"></div>')
                                            .text('Error: failed to save changes.').append(close));
                                }
                            });
                        },
                    });
                });
            {% endif %}
        })
    </script>
{% endblock %}