{% extends "projects/project_base.html" %}
{% set project_name = "Manage members - "+ project.name %}
{% set image_url = url_for('static', filename='images/projects/') + project.name + ".jpg" %}

{% block project_content %}
    <table id="user-table" class="table" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Institution</th>
                <th>City</th>
                <th>Associated Projects</th>
                <th>Member since</th>
                <th>Last seen</th>
            </tr>
        </thead>
    </table>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function(){
            var url = URI('/api/users');
            url.addQuery('include', 'name,address,mprojects');
            console.log(url.readable());
            $.getJSON(url.readable(), function(json){
                var table = $('#user-table').DataTable({
                    buttons: [{
                        text: 'Add',
                        className: 'btn btn-success',
                        action: function (e, dt, node, config) {
                            var users = [];
                            dt.rows('.selected').data().each(function (user) {
                                users.push(user.id);
                            });
                            $.post("{{ url_for('update_project_members', project_id=project.id) }}",
                                    {users: users}).done(function () {
                                window.location = "{{ url_for('show_manage_project', project_id=project.id) }}";
                            });
                        }
                    }, {
                        text: 'Remove',
                        className: 'btn btn-danger',
                        action: function (e, dt, node, config) {
                            var users = [];
                            dt.rows('.selected').data().each(function (user) {
                                users.push(user.id);
                            });
                            $.post("{{ url_for('remove_project_members', project_id=project.id) }}",
                                    {users: users}).done(function () {
                                window.location = "{{ url_for('show_manage_project', project_id=project.id) }}";
                            });
                        }
                    }],
                    select: {
                        style: 'multi',
                        selector: 'td:first-child'
                    },
                    data: jsonapi.parse_response(json,3),
                    order:[[4, 'desc']],
                    columns:[
                        {
                            data: function(subject){
                                return '';
                            },
                            orderable: false,
                            className: 'select-checkbox'
                        },
                        {
                            data: function(user){
                                return can.dom.link('{{ url_for('show_users') }}'
                                + user.id, user.name.first + ' ' + user.name.last);
                            }
                        },
                        {
                            data: function (user) {
                                return user.address.institution
                            }
                        },
                        {
                            data: function (user) {
                                return user.address.city
                            }
                        },
                        {
                            data: function (user){
                                var project_names = [];
                                if (user.mprojects){
                                    $.each(user.mprojects, function(index, value){
                                       project_names.push(value.name)
                                    });
                                }

                                return project_names.join(", ")
                            }
                        },
                        {
                            data: function(user){
                                return can.dom.datetime(user['created-on']);
                            }
                        },
                        {
                            data: function(user){
                                return can.dom.datetime(user['last-seen']);
                            }
                        }
                    ]
                });
                table.buttons().container().find('a.btn').removeClass('dt-button');
                table.buttons().container().appendTo($('.col-sm-6:eq(0) div', table.table().container()));
            })
        })
    </script>
{% endblock %}
