{% extends "projects/project_base.html" %}
{% set project_name = project.name %}
{% set image_url = url_for('static', filename='images/projects/') + project.name + ".jpg" %}

{% from "macros/project.html" import create_project_accordians %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('show_projects') }}">Projects</a></li>
        <li>{{ project.name }}</li>
    </ol>
{% endblock %}

{% block project_content %}
    <p align="right">
        {% if not is_member%}
            <input id="joinMessage"
                   type="button"
                   class="btn btn-primary"
                   value="Join"
                   data-target="#modalJoin">
        {% endif %}
    </p>

    {{ create_project_accordians(project, read_contents, form, is_member, is_investigator, admin) }}

    <div id="modalJoin" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-primary">Join {{ project.name }} Project</h4>
                </div>
                <div class="modal-body">
                    <p>By clicking the Join button below,
                        you will be notified to investigators of this project
                        and they will contact you shortly.</p>
                    <p>Thank you for your interest in {{project.name}} project.</p>
                </div>
                <div class="modal-footer">
                    <input id="real_join"
                           type="button"
                           class="btn btn-primary"
                           value="Join"
                           onclick="window.location='{{ url_for('email_investigators', project_id=project.id) }}';">

                </div>
            </div>
        </div>
    </div>


<script>
$(document).ready(function () {
    $("#joinMessage").click(function(){
        $('#modalJoin').modal('show');
    });

});

</script>

{% endblock %}
