<li class="list-group-item">
    The Communications core is to maintain a list of active members and their contact details. It is to explicitly
    enable effective correspondence between sites/individuals and Cores, by whatever means is most effective, currently
    email, list serves and more recently via shared folders on dropbox.
</li>
<li class="list-group-item">
    Website development is a Core activity to enable direct communication between members to facilitate projects and the
    exchange of information and resources. The Communications core will aim to provide an archive of past dialogues
    within projects and cores. It will also seek to archive data from past meetings, including their program and event
    photographs.
</li>