<li>
    <form id="loginForm" action="{{ url_for('login') }}" class="navbar-form"
          role="form" method="post" data-toggle="validator">
        {{ login_form.csrf_token }}
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input class="form-control" type="email"
                                           placeholder="{{ login_form.email.label.text }}"
                                           value="{{ request.form.email }}"
                                           id="{{ login_form.email.id }}" name="{{ login_form.email.name }}"
                                           required="required" />
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input class="form-control" type="password"
                   id="{{ login_form.password.id }}", name="{{ login_form.password.name }}" ,
                   placeholder="{{ login_form.password.label.text }}" required="required">
        </div>
        <div class="input-group">
            <div class="btn-group">
                {{ login_form.login(class='btn btn-primary') }}
                <button type="button" class="btn btn-primary dropdown-toggle" role="button" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li class="checkbox checkbox-inline">
                            <label>{{ login_form.remember_me() }}
                                   {{ login_form.remember_me.label.text }}</label>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{ url_for('reset_password_request') }}">Forgot Your Password?</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                </ul>
            </div>
        </div>
    </form>
    <div class="help-block with-errors"></div>
</li>