{% extends "core/base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <div id="registration-panel" class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Reset my password</h3>
                    </div>
                    <div class="panel-body">
                        <p class="text-muted">
                            <span class="glyphicon glyphicon-question-sign"></span>
                            To reset your account password, please provide your email address.
                        </p>
                        <form id="reset-password-request-form" action="{{ url_for('reset_password_request') }}"
                              role="form" method="post" data-toggle="validator">
                            {{ form.csrf_token }}
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </span>
                                    <input class="form-control" type="email"
                                           placeholder="{{ form.email.label.text }}"
                                           value="{{ request.form.email }}"
                                           id="{{ form.email.id }}" name="{{ form.email.name }}"
                                           required="required" />
                                </div>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group pull-right">
                                {{ form.reset(class='btn btn-primary btn-main') }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {});
    </script>
{% endblock %}