{% extends "base.html" %}

{% block title %}{{ super() }} - Register{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <div id="registration-panel" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Request for Access</h3>
                    </div>
                    <div class="panel-body">

                        <form id="registration-form" action="{{ url_for('register') }}"
                              role="form" method="post" data-toggle="validator">
                            {{ form.csrf_token }}

                            <p class="text-muted">
                                <span class="glyphicon glyphicon-question-sign"></span>
                                Complete this form to request a login account.
                                Access will be granted upon the approval of the request.
                            </p>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </span>
                                    <input class="form-control" type="email"
                                           placeholder="{{ form.email.label.text }}"
                                           value="{{ request.form.email }}"
                                           id="{{ form.email.id }}" name="{{ form.email.name }}"
                                           required="required"/>
                                </div>
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-user"></span>
                                    </span>
                                    <input class="form-control"
                                           placeholder="{{ form.last_name.label.text }}"
                                           value="{{ request.form.last_name }}"
                                           id="{{ form.last_name.id }}" name="{{ form.last_name.name }}"
                                           required="required"/>
                                </div>
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-user"></span>
                                    </span>
                                    <input class="form-control"
                                           placeholder="{{ form.given_names.label.text }}"
                                           value="{{ request.form.given_names }}"
                                           id="{{ form.given_names.id }}" name="{{ form.given_names.name }}"
                                           required="required"/>
                                </div>
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-lock"></span>
                                    </span>
                                    <input class="form-control" type="password"
                                           id="{{ form.password.id }}" ,
                                           name="{{ form.password.name }}" ,
                                           placeholder="{{ form.password.label.text }}"
                                           required="required"
                                           data-minlength="8" ,
                                           data-minlength-error="password must include at least 8 characters">
                                </div>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-lock"></span>
                                    </span>
                                    <input class="form-control" type="password"
                                           id="{{ form.confirm.id }}" ,
                                           name="{{ form.confirm.name }}" ,
                                           placeholder="{{ form.confirm.label.text }}"
                                           required="required"
                                           data-match="#{{ form.password.id }}"
                                           data-match-error="passwords don't match">
                                </div>
                                <div class="help-block with-errors"></div>
                            </div>

                            <hr/>

                            <p class="text-muted">
                                <span class="glyphicon glyphicon-question-sign"></span>
                                Please enter the name of your institution, address, or city.
                            </p>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-home"></span>
                                    </span>
                                    <input class="form-control" autocomplete="off"
                                           id="{{ form.location.id }}" ,
                                           name="{{ form.location.name }}" ,
                                           placeholder="{{ form.location.label.text }}"
                                           required="required">
                                    {{ form.institution }}
                                    {{ form.lng }}
                                    {{ form.lat }}
                                </div>
                                <div class="help-block with-errors"></div>
                            </div>

                            <div id="address" class="collapse">

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">{{ form.street.label.text }}</span>
                                                {{ form.street(class='form-control', readonly='readonly') }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">{{ form.city.label.text }}</span>
                                                {{ form.city(class='form-control', readonly='readonly') }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">{{ form.region.label.text }}</span>
                                                {{ form.region(class='form-control', readonly='readonly') }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">{{ form.postal.label.text }}</span>
                                                {{ form.postal(class='form-control', readonly='readonly') }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">{{ form.country.label.text }}</span>
                                                {{ form.country(class='form-control', readonly='readonly') }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr/>

                            <div class="form-group">
                                <input type="checkbox" name="{{ form.accept.name }}"
                                       id="{{ form.accept.id }}" required="required"/>
                                    <span>I agree with the
                                        <a data-toggle="collapse" href="#terms">Terms and Conditions</a>
                                    </span>
                                <div class="help-block with-errors"></div>
                            </div>

                            <div id="terms" class="collapse">
                                <div class="well">
                                    {% include 'auth/terms.html' %}
                                </div>
                            </div>

                            <div class="form-group pull-right">
                                {{ form.register(class='btn btn-primary btn-main') }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>

        var autocomplete;
        var componentMap = {
            premise: 'institution',
            locality: 'city',
            administrative_area_level_3: 'city',
            country: 'country',
            administrative_area_level_1: 'region',
            street_number: 'street',
            route: 'route',
            postal_code: 'postal',
            postal_code_prefix: 'postal'
        }

        var address = {};

        function initAutocomplete() {
            // create the autocomplete object (restrict search to geographical location)
            autocomplete = new google.maps.places.Autocomplete(document.getElementById('location'), {
                types: ['geocode']
            });
            autocomplete.addListener('place_changed', fillInAddress);
        }

        function fillInAddress() {
            // Get the place details from the autocomplete object.
            var place = autocomplete.getPlace();
            console.log(place.address_components);
            $('#lat').val(place.geometry.location.lat());
            $('#lng').val(place.geometry.location.lng());
            $.each(place.address_components, function (i, component) {
                if (component.types[0] in componentMap) {
                    address[componentMap[component.types[0]]] = component.long_name;
                }
            });

            if (address.street && address.route) {
                address.street += ' ' + address.route
            }

            if ('name' in place.html_attributions) {
                address['institution'] =  place.html_attributions.name
            }

            $.each(address, function(key, value) {
                console.log(key, value);
                $('#' + key).val(value);
            });
            $('#address').collapse('show');
        }

        $(document).ready(function () {
            $('#accept').change(function () {
                $('#terms').collapse('hide');
            });
        });
    </script>
    <script src="{{ geopd.get('google.api', 'map_url') }}?key={{ geopd.get('google.api', 'key') }}&libraries=places&callback=initAutocomplete"
            async defer></script>
{% endblock %}