<div class="promo thumbnail container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="caption text-center">
                <h2>Luxembourg 2016</h2>
                <p>The 11th Annual Meeting of GEoPD was hosted by Dr. Balling.</p>
                <p>
                    <a href="{{ url_for('show_meeting', id=11) }}" class="btn btn-primary" role="button">
                        See the highlights</a>
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="{{ url_for('static', filename='images/luxembourg_small.jpg') }}" alt="Luxembourg 2016">
        </div>
    </div>
</div>