<div class="promo-tokyo thumbnail container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="caption text-center">
                <h2>Tokyo 2015</h2>
                <p>The 10th Annual Meeting of GEoPD was hosted by Dr. Nobutaka Hattori.</p>
                <p>
                    <a href="{{ url_for('web.show_meeting', id=10) }}" class="btn btn-primary" role="button">
                        See the highlights</a>
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="{{ url_for('static', filename='images/tokyo.jpg') }}" alt="Tokyo 2015">
        </div>
    </div>
</div>