{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Members</h2>
            </div>
            <div class="panel-body">

                <ul class="nav nav-tabs">
                    <li role="presentation" class="active">
                        <a id="list-tab" href="#users-list" data-toggle="tab">Detailed List</a>
                    </li>
                    <li role="presentation">
                        <a id="map-tab" href="#users-map" data-toggle="tab">World Map</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in active" id="users-list">
                        <table id="users" class="table table-striped table-hover table-condensed" cellspacing="0"
                               width="100%">
                            <thead>
                            <tr>
                                {% if admin %}
                                    <th></th>{% endif %}
                                <th>Name</th>
                                <th>Institution</th>
                                <th>City</th>
                                <th>Member since</th>
                                <th>Last seen</th>
                                {% if admin %}
                                    <th>Status</th>{% endif %}
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="users-map">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>

        function create_info_window_html(user) {
            var container = $('<div/>').append(
                    $('<div/>').addClass('info-window')
                            .append($('<a/>').attr('href', user.profile).html($('<h4/>').html(user.name)))
                            .append($('<p/>').html(user.institution))
                            .append($('<p/>')
                                    .append($('<span/>').addClass('glyphicon glyphicon-envelope'))
                                    .append(' ')
                                    .append(user.email)));
            if (user.address) {
                container.find('div.info-window').append($('<p/>')
                        .append($('<span/>').addClass('glyphicon glyphicon-map-marker'))
                        .append(' ')
                        .append(user.address));
            }

            return container.html();
        }

        var map = null;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 60.0, lng: -120.0},
                zoom: 3,
            });

            {% for user in users %}
                {%- if user.address.latitude is not none and user.address.longitude is not none -%}
                    var marker{{ loop.index }} = new google.maps.Marker({
                        position: {lat: {{ user.address.latitude }}, lng: {{ user.address.longitude }}},
                        map: map,
                        title: '{{ user.name.formal }}',
                    });

                    marker{{ loop.index }}.addListener('click', function () {
                        new google.maps.InfoWindow({
                            content: create_info_window_html({
                                profile: '{{ url_for("web.show_user", user_id=user.id) }}',
                                name: '{{ user.name.formal }}',
                                email: '{{ user.email }}',
                                institution: '{{ user.address.institution }}',
                                address: '{{ user.address.long }}',
                            })
                        }).open(map, marker{{ loop.index }});
                    });
                {%- endif -%}
            {%- endfor -%}
        }

        $(document).ready(function () {

            var url = URI('/api/users/');
            url.addQuery('include', 'name,address,status');
            url.addQuery('fields[users]', 'name,address,created-on,last-seen,status');
            url.addQuery('fields[user-names]', 'formal');
            url.addQuery('fields[user-addresses]', 'institution,city,country');
            {% if not admin %}
                url.addQuery('filter[status_id.eq]', {{  current_user.STATUS.ACTIVE.value }});
            {% endif %}


            $.getJSON(url.readable(), function (json) {
                var table = $('#users').DataTable({
                    {% if admin %}
                        buttons: [{
                            text: 'Activate',
                            className: 'btn btn-success',
                            action: function (e, dt, node, config) {
                                var users = [];
                                dt.rows('.selected').data().each(function (user) {
                                    users.push(user.id);
                                });
                                $.post("{{ url_for('can.update_users_status') }}",
                                        {users: users, status: 1}).done(function () {
                                    window.location = "{{ url_for('web.show_users') }}";
                                });
                            }
                        }, {
                            text: 'Disable',
                            className: 'btn btn-danger',
                            action: function (e, dt, node, config) {
                                var users = [];
                                dt.rows('.selected').data().each(function (user) {
                                    users.push(user.id);
                                });
                                $.post("{{ url_for('can.update_users_status') }}",
                                        {users: users, status: 2}).done(function () {
                                    window.location = "{{ url_for('web.show_users') }}";
                                });
                            }
                        }],
                        select: {
                            style: 'multi',
                            selector: 'td:first-child'
                        },
                    {% endif %}
                    data: jsonapi.parse_response(json),
                    columns: [
                        {% if admin %}
                            {
                                data: function (subject) {
                                    return '';
                                },
                                orderable: false,
                                className: 'select-checkbox',
                            },
                        {% endif %}
                        {
                            data: function (user) {
                                return can.dom.link('{{ url_for('web.show_users') }}' + user.id, user.name.formal);
                            }
                        },
                        {
                            data: 'address.institution'
                        },
                        {
                            data: function (user) {
                                if (user.address.city) return user.address.city + ', ' + user.address.country
                            }
                        },
                        {
                            data: function (user) {
                                return can.dom.datetime(user['created-on']);
                            }
                        },
                        {
                            data: function (user) {
                                return can.dom.datetime(user['last-seen']);
                            }
                        },
                        {% if admin %}
                            {
                                data: function (user) {
                                    return can.dom.user_status(user);
                                }
                            }
                        {% endif %}
                    ],

                    paging: true,
                    ordering: true,
                    searching: true,
                    order: [[0, 'asc']],
                    deferRender: true,
                });

                {% if admin %}
                    table.buttons().container().find('a.btn').removeClass('dt-button');
                    table.buttons().container().appendTo($('.col-sm-6:eq(0) div', table.table().container()));
                {% endif %}
            });

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                google.maps.event.trigger(map, 'resize');
            });
        });
    </script>
    <script src="{{ config.GOOGLE_API_MAP_URL }}?key={{ config.GOOGLE_API_KEY }}&libraries=places&callback=initMap"
            async defer></script>
{% endblock %}