{% extends "core/base.html" %}
{% import "/core/macros/avatar.html" as avatar %}
{% import "macros/modal_form_survey.html" as modal_form %}

{% block content %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <ol class="breadcrumb">
                    <li><a href="{{ url_for('show_users') }}">Members</a></li>
                    <li>{{ user.name.full }}</li>
                </ol>
            </div>
        </div>

        <!-- Profile Header -->
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div id="kv-avatar-errors" class="center-block"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 col-md-offset-2 col-sm-12 col-xs-12">
                {{ avatar.render(user, current_user.id) }}
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <br class="visible-sm visible-xs"/>
                <h2>{{ user.name.full }}</h2>
                {% if user.address.institution %}
                    <p class="text-muted">
                        <span class="glyphicon glyphicon-map-marker"></span>
                        {{ user.address.institution_full }}<br/>
                        <small><em>{{ user.address.long }}</em></small>
                    </p>
                {% endif %}
                <p>
                    <i class="glyphicon glyphicon-envelope"></i>
                    <a href="mailto:{{ user.email }}?Subject=[GEoPD]%20" target="_top">{{ user.email }}</a>
                </p>
                <p class="text-muted">Member since
                    <time data-moment="{{ user.created_on|isoformat }}"></time>
                    .
                    {% if user.last_seen %}
                        Last Seen
                        <time data-moment="{{ user.last_seen|isoformat }}"></time>.
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">

                <hr/>

                <div id="profile-message"></div>
                {% if current_user.surveys[communication_survey.id].completed_on is none %}
                    {{ modal_form.create_survey(current_user, survey_form, communication_survey) }}
                {% endif %}

                <!-- Tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#biography-pane">Biography</a></li>
                    {% if user.id == current_user.id %}
                        <li><a data-toggle="tab" href="#address-pane">Address</a></li>
                    {% endif %}
                    <li><a data-toggle="tab" href="#survey-pane">Survey</a></li>
                    <li><a data-toggle="tab" href="#communications-pane">Communications Survey</a></li>
                </ul>

                <div class="tab-content">

                    <!-- Biography -->
                    <div id="biography-pane" class="tab-pane fade in active">
                        <h3 class="page-header text-primary">Research Interests</h3>
                        <div class="edit-biography">
                            <div id="interest" class="markdown">
                                {{ user.bio.research_interests|md2html|safe
                                    if user.bio.research_interests else 'Double click to edit.' }}
                            </div>
                        </div>

                        <h3 class="page-header text-primary">Research Experience</h3>
                        <div class="edit-biography">
                            <div id="experience" class="markdown">
                                {{ user.bio.research_experience|md2html|safe
                                    if user.bio.research_experience else 'Double click to edit.' }}
                            </div>
                        </div>
                    </div>

                    <!-- Address (logged in users only) -->
                    {% if user.id == current_user.id %}
                        {% import "core/macros/address.html" as address %}
                        <div id="address-pane" class="tab-pane fade">
                            {{ address.form(address_form, user.id) }}
                        </div>
                    {% endif %}

                    <!-- Survey -->
                    <div id="survey-pane" class="tab-pane fade">
                        {% from "survey.html" import render_question, render_submit with context %}
                        <form id="surveyForm" action="{{ url_for('update_user_survey', user_id=current_user.id,
                                                                  survey_id=survey.id) }}"
                              method="post">
                            {{ survey_form.csrf_token }}
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="help-block">
                                        {{ survey.description }}
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                {% for name in ('clinical', 'epidemiologic', 'biospecimen') %}
                                        <div class="col-md-4">
                                            {{ render_question(survey.questions[name], survey.id, user) }}
                                        </div>
                                {% endfor %}
                            </div>

                            {% for name in ('ethical', 'consent', 'sharing', 'sample') %}
                                    {{ render_question(survey.questions[name], survey.id, user) }}
                            {% endfor %}

                            {% if current_user.id == user.id %}
                                <hr/>
                                {{ render_submit(survey_form, survey.id) }}
                            {% endif %}
                        </form>
                    </div>
                    <!-- Communications survey-->
                    <div id="communications-pane" class="tab-pane fade">
                        <form id="survey-form"
                              role="form"
                              action="{{ url_for('update_user_survey', user_id=current_user.id,
                                                                  survey_id=communication_survey.id) }}" method="post">
                            {{ survey_form.csrf_token }}
                            {{ render_question(communication_survey.questions['communications'], communication_survey.id, user) }}
                            {% if current_user.id == user.id %}
                                <hr/>
                                {{ render_submit(survey_form, communication_survey.id) }}
                            {% endif %}
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    {{ super() }}
    {% if current_user.id == user.id %}

        <script>
            $(document).ready(function () {

                // todo:: make global
                $('.explain').each(function (i, explain) {
                    var editable = $(explain).find('p.edit-explain').editable(function (value, settings) {
                        var hidden = $('<input type="hidden"/>').val(value).attr('name', $(this).attr('id'));
                        $(this).parents('form').first().append(hidden);
                        return (value);
                    }, {
                        type: 'textarea',
                        rows: 3,
                    });
                    $(explain).find('input[type=radio]').click(function (e) {
                        if (e.target.value == 'no') {
                            $(explain).find('.collapse').collapse('show');
                        } else {
                            $(explain).find('.collapse').collapse('hide');
                        }
                    });
                });

                var close = '<a href="#" class="close" data-dismiss="alert">&times</a>';

                $('.edit-biography').dblclick(function () {
                    $(this).find('div.markdown').markdown({
                        hideable: true,
                        height: 300,
                        onBlur: function (e) {
                            $.ajax('{{ url_for('update_user_biography', user_id=current_user.id) }}', {
                                method: 'post',
                                data: {
                                    name: e.$element[0].id,
                                    value: e.getContent()
                                },
                                success: function () {
                                    $('#profile-message').html($('<div class="alert alert-success"></div>')
                                            .text('Changes saved successfully.').append(close));
                                },
                                error: function () {
                                    $('#profile-message').html($('<div class="alert alert-danger"></div>')
                                            .text('Error: failed to save changes.').append(close));
                                }
                            });
                        },
                    });
                });
            });
        </script>

    {% else %}

        <script>
            $(document).ready(function () {
                $('#survey-pane input').prop('disabled', true);
                $('#communications-pane input').prop('disabled', true);
            });
        </script>

    {% endif %}
{% endblock %}