{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <ol class="breadcrumb">
                    <li><a href="{{ url_for('web.show_users') }}">Members</a></li>
                    <li>{{ user.name }}</li>
                </ol>
            </div>
        </div>

        {% include 'users/profile/header.html' with context %}

        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">

                <hr/>

                <div id="profile-message"></div>

                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#biography-pane">Biography</a></li>
                    {% if user.id == current_user.id %}
                        <li><a data-toggle="tab" href="#address-pane">Address</a></li>
                    {% endif %}
                    <li><a data-toggle="tab" href="#survey-pane">Survey</a></li>
                </ul>

                <div class="tab-content">

                    <div id="biography-pane" class="tab-pane fade in active">
                        {% include 'users/profile/biography.html' with context %}
                    </div>

                    {% if user.id == current_user.id %}
                        <div id="address-pane" class="tab-pane fade">

                            <p class="help-block">
                                <span class="glyphicon glyphicon-question-sign"></span>
                                Use the following form to add or change your institution name, department, and address.
                                Start by typing the institution name, then choose from the dropdown menu.
                            </p>

                            <form action="{{ url_for('web.update_user_address', user_id=current_user.id) }}"
                                  method="post" data-toggle="validator">
                                {{ address_form.csrf_token }}
                                {% with form=address_form %}
                                    {% include 'form/address.html' with context %}
                                {% endwith %}
                                <div class="form-group">
                                    {{ address_form.submit(class="btn btn-primary") }}
                                </div>
                            </form>
                        </div>
                    {% endif %}

                    <div id="survey-pane" class="tab-pane fade">
                        {% include 'users/profile/survey.html' with context %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    {{ super() }}
    <script type="javascript">{% block js_address %}{% endblock %}</script>
    {% include 'users/profile/scripts.html' with context %}
{% endblock %}