{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div id="map"></div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>

        function create_info_window_html(user) {
            var container = $('<div/>').append(
                    $('<div/>').addClass('info-window')
                            .append($('<h4/>').html(user.name))
                            .append($('<p/>').html(user.institution)));

            if (user.address) {
                container.find('div.info-window').append($('<p/>')
                        .append($('<span/>').addClass('glyphicon glyphicon-map-marker'))
                        .append(' ')
                        .append(user.address));
            }

            return container.html();
        }

        var map = null;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 10.0, lng: 0.0},
                zoom: 3,
            });

            {%- for user in users -%}
                {%- if user.address.latitude is not none and user.address.longitude is not none -%}
                    var marker{{ loop.index }} = new google.maps.Marker({
                        position: {lat: {{ user.address.latitude }}, lng: {{ user.address.longitude }}},
                        map: map,
                        title: '{{ user.name }}',
                    });

                    marker{{ loop.index }}.addListener('click', function () {
                        new google.maps.InfoWindow({
                            content: create_info_window_html({
                                profile: '{{ url_for("web.show_user", id=user.id) }}',
                                name: '{{ user.name }}',
                                institution: '{{ user.address.institution }}',
                                address: '{{ user.address }}',
                            })
                        }).open(map, marker{{ loop.index }});
                    });
                {%- endif -%}
            {%- endfor -%}
        }
    </script>
    <script src="{{ geopd.get('google.api', 'map_url') }}?key={{ geopd.get('google.api', 'key') }}&libraries=places&callback=initMap"
        async defer></script>
{% endblock %}