<script type="text/javascript" charset="utf8"
        src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
<script type="text/javascript" charset="utf8"
        src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8"
        src="//cdn.datatables.net/fixedcolumns/3.2.1/js/dataTables.fixedColumns.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.10/js/dataTables.bootstrap.js"></script>
<script type="text/javascript" charset="utf8"
        src="//cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/1.1.2/js/buttons.flash.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script type="text/javascript" charset="utf8"
        src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script type="text/javascript" charset="utf8"
        src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/1.1.2/js/buttons.print.min.js"></script>
<script type="text/javascript" charset="utf8"
        src="//cdn.datatables.net/buttons/1.1.2/js/buttons.colVis.min.js"></script>
<script type="text/javascript" charset="utf8"
        src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
{% assets "js" %}
    <script type="text/javascript" charset="utf8" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/javascript">

    var USERS_URL = '{{ url_for('web.show_users') }}';
    var POSTS_URL = '/posts/';

    var GOOGLE_API_KEY = '{{ geopd.get('google.api', 'key') }}';
    var GOOGLE_MAP_URL = '{{ geopd.get('google.api', 'map_url') }}';
    var GOOGLE_PLACE_URL = '{{ geopd.get('google.api', 'place_url') }}';
</script>
