{% extends "core/base.html" %}

{% block content %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <h1 class="page-header" style="color: #999;">What makes us unique</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <h3 class="text-primary">Diversity and Sample Size</h3>
                <ul class="list-group">
                    <li class="list-group-item">GEoPD includes 60 sites from 30 countries and six continents</li>
                    <li class="list-group-item">We share research questions, knowledge and insight</li>
                    <li class="list-group-item">We share expertise, reagents and resources, including DNA and data for
                        41,988 PD cases and 41,505 control subjects
                    </li>
                    <li class="list-group-item">We share opportunities for collaborative research and funding</li>
                </ul>

                <h3 class="text-primary">Organization and Communication</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        A democratic, elected structure ensures continuity with succession. There is a past president,
                        president and president elect and a steering committee nominated from core members. Five cores
                        are maintained, their membership elected at annual meetings, and based on based on expertise and
                        need. Each core has a specific mandate about one of the following areas: bioinformatics,
                        biology, clinical, communications, epidemiology and statistics. Projects approved by the
                        steering committee are promoted, supported by the cores and participating global site
                        investigators.
                    </li>
                </ul>

                <h3 class="text-primary">Projects</h3>
                <ul class="list-group">
                    <li class="list-group-item">Broadened Scope</li>
                    <li class="list-group-item">Projects can be can be relatively small, driven by investigator
                        interests at
                        one site, or can be very large in scope
                    </li>
                    <li class="list-group-item">Projects can be for discovery or for replication</li>
                    <li class="list-group-item">Projects can be proposed on-line or more formally at the annual
                        meeting
                    </li>
                </ul>

                <h3 class="text-primary">Ownership</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        GEoPD belongs to the global site investigators, and to the communities we serve. GEoPD does not
                        belong to a company. GEoPD does not belong to a Big Government or to a Big Foundation. For the
                        people, by the people. All Data generated within and by Consortium projects is accessible,
                        rather than collectively maintained by one Principle Investigator. Data access requires steering
                        committee review and approval. We do not charge Consortium members or study subjects a fee for
                        participation in research. We do not bypass clinician investigators by going “direct to
                        consumer”. We serve our patients gratis and recognize their clinical care providers (including
                        through authorships).
                    </li>
                </ul>


                <h3 class="text-primary">Membership Benefits</h3>
                <ul class="list-group">
                    <li class="list-group-item">Membership in the longest running worldwide Consortium for Parkinson’s
                        disease
                    </li>
                    <li class="list-group-item">Largest international Consortium with expanding membership</li>
                    <li class="list-group-item">Unfettered access to multi-disiplinary expertise, whether to specialty
                        neurologists,
                        geneticists, biologists, epidemiologists or statisticians
                    </li>
                    <li class="list-group-item">Resource and reagent sharing from clinical information, whole genome or
                        exome data, inducible
                        pluripotent stem
                        cell lines or other genetic models
                    </li>
                    <li class="list-group-item">Opportunities to get involved and drive cutting-edge research without
                        needing to build and/or support the entire research enterprise. All it takes is a good idea. The
                        expertise,
                        energy and enthusiasm of the consortium facilitate the effort.
                    </li>
                    <li class="list-group-item">Sharing of unpublished data and a forum for discussion, discovery and
                        when
                        needed, replication
                    </li>
                    <li class="list-group-item">Open, honest collaboration; transparency without politics and control
                    </li>
                    <li class="list-group-item">The GEoPD World Tour: Annual meetings - CME accredited - to learn the
                        latest
                        in the field of Parkinson’s disease research
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                {% include 'promo/cairns.html' %}
            </div>
        </div>
    </div>
{% endblock %}