{% macro nav_item(href, title) -%}
    <li {% if request.path.startswith(href) %} class="active"{% endif %}>
        <a href="{{ href }}">{{ title }}</a>
    </li>
{%- endmacro %}

<nav class="navbar navbar-default">
    <div class="container-fluid">

        <!-- brand and toggle -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img alt="{{ config.APP_BRAND }}" src="{{ url_for('static', filename='images/brand2.png') }}"
                     title="{{ config.APP_NAME }}">
            </a>
        </div>

        <!-- main navigation -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                {{ nav_item('/about/', 'About Us') }}
                {{ nav_item('/meetings/', 'Annual Meetings') }}
                {{ nav_item('/projects/', 'Projects') }}
                {{ nav_item('/communications/', 'Communications')}}
                {{ nav_item('/users/', 'Members') }}
                <!--{{ nav_item('/cores/', 'Cores') }}-->
                {% if current_user.is_authenticated %}
                {{ nav_item('/surveys/', 'Surveys') }}
                {% endif %}
                {{ nav_item('/publications/', 'Publications') }}
                {{ nav_item('/contact/', 'Feedback' if current_user.is_authenticated else 'Contact Us') }}
            </ul>

            <!-- right side -->
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    {% include 'core/auth/user.html' %}
                {% else %}
                    {% include 'auth_geopd/login.html' %}
                {% endif %}
            </ul>

        </div>
    </div>
</nav>