<form action="{{ url_for('web.update_user_address', id=current_user.id) }}"
      method="post" data-toggle="validator">
    {{ address_form.csrf_token }}
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-home"></span>
            </span>
            <input class="form-control" autocomplete="off"
                   id="{{ address_form.location.id }}"
                   name="{{ address_form.location.name }}"
                   placeholder="{{ address_form.location.label.text }}">
            {{ address_form.institution }}
            {{ address_form.lng }}
            {{ address_form.lat }}
        </div>
    </div>

    <div id="address" class="collapse">

        <div class="form-group">
            <div class="input-group">
            <span class="input-group-addon">{{ address_form.department.label.text }}</span>
                <input class="form-control" autocomplete="off"
                       id="{{ address_form.department.id }}"
                       name="{{ address_form.department.name }}">
            </div>
            <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
            <div class="input-group">
            <span class="input-group-addon">{{ address_form.website.label.text }}</span>
                <input class="form-control" autocomplete="off"
                       id="{{ address_form.website.id }}" type="url"
                       name="{{ address_form.website.name }}">
            </div>
            <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon">{{ address_form.street.label.text }}</span>
                        {{ address_form.street(class='form-control', readonly='readonly') }}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon">{{ address_form.city.label.text }}</span>
                        {{ address_form.city(class='form-control', readonly='readonly') }}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon">{{ address_form.region.label.text }}</span>
                        {{ address_form.region(class='form-control', readonly='readonly') }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon">{{ address_form.postal.label.text }}</span>
                        {{ address_form.postal(class='form-control', readonly='readonly') }}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon">{{ address_form.country.label.text }}</span>
                        {{ address_form.country(class='form-control', readonly='readonly') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ address_form.submit(class="btn btn-primary") }}
    </div>
</form>