<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div id="kv-avatar-errors" class="center-block"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-2 col-md-offset-2 col-sm-12 col-xs-12">
        {% if current_user.id == user.id %}
            <div class="kv-avatar text-center">
                <input id="avatar" name="avatar" type="file" class="file-loading center-block">
            </div>
        {% else %}
            <img src="{{ url_for('web.get_user_avatar', id=user.id) }}" alt="{{ user.name }}"
                 class="img-rounded img-responsive thumbnail center-block"/>
        {% endif %}
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <br class="visible-sm visible-xs"/>
        <h2>{{ user.name }}</h2>
        {% if user.address.institution %}
        <p class="text-muted">
            <span class="glyphicon glyphicon-map-marker"></span>
            {{ user.address.institution_full }}<br/>
            <small><em>{{ user.address }}</em></small>
        </p>
        {% endif %}
        <p>
            <i class="glyphicon glyphicon-envelope"></i>
            <a href="mailto:{{ user.email }}?Subject=[GEoPD]%20" target="_top">{{ user.email }}</a>
        </p>
        <p class="text-muted">Member since
            <time class="moment">{{ user.created_on|datetime }}</time>.
            {% if user.last_seen %}
                Last Seen <time class="moment">{{ user.last_seen|datetime }}</time>.
            {% endif %}
        </p>
    </div>
</div>