<div class="row">
    <div class="col-md-12">
        <p class="help-block">
            In order to best serve your interests and those of the general usership, please
            spend a minute completing the following questionnaire. Briefly, we seek to learn
            what clinical tools you use, what epidemiologic exposures you measure, and what
            types of biospecimens you currently have.
        </p>
    </div>
</div>

<div class="row">

    <div class="col-md-4">
        <h3 class="page-header text-primary">Clinical Information</h3>
        {% if current_user.id == user.id %}
            <p class="text-muted">&#x2714 Check all that apply.</p>
        {% endif %}
        <div class="funkyradio">
            {% for c in clinical %}
                <div class="funkyradio-primary">
                    <input type="checkbox" name="clinical" id="clinical-{{ c.id }}"
                           value="{{ c.id }}"
                           {% if c in user.survey.clinical %}checked="checked"{% endif %}/>
                    <label for="clinical-{{ c.id }}">{{ c.name }}</label>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-4">
        <h3 class="page-header text-primary">Epidemiologic Exposures</h3>
        {% if current_user.id == user.id %}
            <p class="text-muted">&#x2714 Check all that apply.</p>
        {% endif %}
        <div class="funkyradio">
            {% for c in epidemiologic %}
                <div class="funkyradio-primary">
                    <input type="checkbox" name="epidemiologic" id="epidemiologic-{{ c.id }}"
                           value="{{ c.id }}"
                           {% if c in user.survey.epidemiologic %}checked="checked"{% endif %}/>
                    <label for="epidemiologic-{{ c.id }}">{{ c.name }}</label>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-4">
        <h3 class="page-header text-primary">Biospecimens</h3>
        {% if current_user.id == user.id %}
            <p class="text-muted">&#x2714 Check all that apply.</p>
        {% endif %}
        <div class="funkyradio">
            {% for c in biospecimen %}
                <div class="funkyradio-primary">
                    <input type="checkbox" name="biospecimen" id="biospecimen-{{ c.id }}"
                           value="{{ c.id }}"
                           {% if c in user.survey.biospecimen %}checked="checked"{% endif %}/>
                    <label for="biospecimen-{{ c.id }}">{{ c.name }}</label>
                </div>
            {% endfor %}
        </div>
    </div>

</div>


<h4 class="page-header text-primary">
    Was your study approved by an ethical committee?
</h4>
<div class="funkyradio explain">
    <div class="funkyradio-primary">
        <input type="radio" name="ethical" id="ethical-yes" value="yes"
               {% if user.survey.ethical == true %}checked="checked"{% endif %}/>
        <label for="ethical-yes">Yes</label>
    </div>
    <div class="funkyradio-primary">
        <input type="radio" name="ethical" id="ethical-no" value="no"
               {% if user.survey.ethical == false %}checked="checked"{% endif %}/>
        <label for="ethical-no">No</label>
    </div>
    <div class="collapse {% if user.survey.ethical == False %}in{% endif %}"
         id="ethical-explanation">
        <h5 class="text-primary">Explanation</h5>
        <p id="ethical-explain" class="edit edit-explain">
            {{ user.survey.ethical_explain if user.survey.ethical_explain }}
        </p>
    </div>
</div>

<h4 class="page-header text-primary">
    Did the participants sign an informed consent form?
</h4>
<div class="funkyradio explain">
    <div class="funkyradio-primary">
        <input type="radio" name="consent" id="consent-yes" value="yes"
               {% if user.survey.consent == true %}checked="checked"{% endif %}/>
        <label for="consent-yes">Yes</label>
    </div>
    <div class="funkyradio-primary explain">
        <input type="radio" name="consent" id="consent-no" value="no"
               {% if user.survey.consent == false %}checked="checked"{% endif %}/>
        <label for="consent-no">No</label>
    </div>
    <div class="collapse {% if user.survey.consent == False %}in{% endif %}"
         id="consent-explanation">
        <h5 class="text-primary">Explanation</h5>
        <p id="consent-explain" class="edit edit-explain">
            {{ user.survey.consent_explain if user.survey.consent_explain }}
        </p>
    </div>
</div>

<div id="sharing" class="collapse {% if user.survey.consent == True %}in{% endif %}">
    <h4 class="page-header text-primary">
        Does the informed consent permit sharing of de-identified data & DNA samples?
    </h4>
    <div class="funkyradio">
        <div class="funkyradio-primary">
            <input type="radio" name="sharing" id="sharing-yes" value="yes"
                   {% if user.survey.sharing == true %}checked="checked"{% endif %}/>
            <label for="sharing-yes">Yes</label>
        </div>
        <div class="funkyradio-primary">
            <input type="radio" name="sharing" id="sharing-no" value="no"
                   {% if user.survey.sharing == false %}checked="checked"{% endif %}/>
            <label for="sharing-no">No</label>
        </div>
    </div>
</div>

<h4 class="page-header text-primary">
    Are you willing to send (to a centralized laboratory) a small number of DNA samples to
    assess genotyping accuracy?
</h4>
<div class="funkyradio">
    <div class="funkyradio-primary">
        <input type="radio" name="sample" id="sample-yes" value="yes"
               {% if user.survey.sample == true %}checked="checked"{% endif %}/>
        <label for="sample-yes">Yes</label>
    </div>
    <div class="funkyradio-primary">
        <input type="radio" name="sample" id="sample-no" value="no"
               {% if user.survey.sample == false %}checked="checked"{% endif %}/>
        <label for="sample-no">No</label>
    </div>
</div>

{% if user.id == current_user.id and not user.survey.completed_on %}
    <h4 class="page-header text-primary">Complete Survey</h4>
    <p>
    <form action="{{ url_for('web.update_user_survey', id=current_user.id) }}" method="post">
        {{ survey_form.csrf_token }}
        {{ survey_form.submit(class="btn btn-primary") }}
    </form>
    </p>
{% endif %}