<li class="list-group-item">
    The Biology core is to compile a resource of expertise, resources and reagents within the GEoPD Consortium. Its
    objectives are to facilitate research by members of the GEoPD Consortium and to encourage multi-site
    collaborations.
</li>
<li class="list-group-item">
    The descriptors expertise, resources and reagents may be subdivided into sub-categories. Some examples: Expertise
    may include key professionals with major interests in atypical parkinsonism, neuroimaging (PET, MRI), genetics, etc.
    Resources might include longitudinal clinical data, high-throughput sequence or genotype information, etc. Reagents
    might include inducible pluripotent cell lines (iPSCs), plasmid constructs, or mouse models for genes implicated in
    Parkinson’s disease.
</li>
<li class="list-group-item">
    Although there will be some overlap with other cores e.g. with the Communications core on who is a current/active
    GEoPD member, with the Clinical core on number of patients and control subjects for whom clinical data and DNA is
    available, with the Bioinformatics core on genotype/sequence information etc. It will be the Biology’s core’s
    responsibility to create and maintain an indexed, searchable database of biologic ‘meta-data’ for the GEoPD
    Consortium.
</li>