<li class="list-group-item">
    The Clinical Core will establish a basic clinical database for all patients/controls in the Consortium in an
    advanced database built using REDCap software. It integrates our long term project the LONG-PD study (PI: Katerina
    Markopoulou) that includes data from longitudinal follow-up of patients with parkinsonism.
</li>
<li class="list-group-item">
    The objectives of the Clinical Core are also to provide a standard dataset of basic clinical assessments that can be
    used by each site, using site-specific access, in a web-based REDCap system. This will facilitate future data
    sharing in upcoming projects within the Consortium.
</li>
<li class="list-group-item">
    The clinical database will not only comprise data on idiopathic Parkinson’s disease but also other forms of
    neurodegenerative parkinsonism, i.e. PSP, MSA, CBS. The database will also be built to capture and allow analyses of
    therapeutic outcomes, to integrate information on pharmacological treatment and device-based interventions i.e. deep
    brain stimulation (DBS) or pumps (LCIG, apomorphine).
</li>
<li class="list-group-item">
    It will be the Clinical Core’s responsibility (i) to create a basic dataset, that is harmonized based on current
    state-of-the-art diagnostic criteria and clinical scores, and (ii) to maintain a comprehensive, regularly updated
    searchable database of clinical data for the Consortium in collaboration with the Bioinformatics Core.
</li>