<li class="list-group-item">
    The Epidemiology and Statistics core is to maintain a list of epidemiologic data available at different GEoPD sites.
    It will serve to facilitate data harmonization across sites.
</li>
<li class="list-group-item">
    It will monitor the epidemiological literature, with a particular interest in gene-environment interactions, and
    will regularly provide updates on recent findings. It will also monitor the statistical literature for relevant
    methods that can be used within the Consortium.
</li>
<li class="list-group-item">
    Members of the consortium will also be able to consult the core for questions on study design, analysis, and
    presentation of results.
</li>