{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">

        {% include "cores/header.html" %}

        {% if core.survey and not current_user.surveys[core.survey.id].completed_on %}

            {% include "cores/survey.html" %}

        {% else %}

            <div class="row">
                <div class="col-md-2 col-md-offset-1 hidden-xs hidden-sm">
                    <img class="img-circle img-responsive" width="240" src="{{ core.image_url }}" alt="{{ core.name }}">
                </div>
                <div class="col-md-8">

                    <!-- Tabs -->
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active">
                            <a id="list-tab" href="#list-pane" role="tab" data-toggle="tab">Posts</a>
                        </li>
                        <li role="presentation">
                            <a id="post-tab" href="#post-pane" role="tab" data-toggle="tab">Create new post</a>
                        </li>
                        {% if core.survey %}
                            <li role="presentation">
                                <a id="survey-tab" href="#survey-pane" role="tab" data-toggle="tab">Update survey</a>
                            </li>
                        {% endif %}
                    </ul>


                    <div class="tab-content">

                        <!-- Posts -->
                        <div role="tabpanel" class="tab-pane fade in active" id="list-pane">
                            <table id="post-table" class="table" width="100%">
                                <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>Created</th>
                                    <th>Modified</th>
                                </tr>
                                </thead>
                            </table>
                        </div>

                        <!-- Create new post -->
                        <div role="tabpanel" class="tab-pane fade" id="post-pane">
                            <form id="post-form" role="form"
                                  action="{{ url_for('web.create_core_post', core_id=core.id) }}"
                                  method="post">
                                {{ form.csrf_token() }}
                                <div class="form-group">
                                    <input class="form-control" type="text"
                                           placeholder="{{ form.title.label.text }}"
                                           value="{{ request.form.title }}"
                                           id="{{ form.title.id }}" name="{{ form.title.name }}"
                                           required="required"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                <textarea class="form-control"
                                          placeholder="{{ form.body.label.text }}"
                                          id="{{ form.body.id }}" name="{{ form.body.name }}"
                                          rows="10"
                                          required="required"
                                          data-provide="markdown">{{ request.form.body }}</textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    {{ form.submit(class="btn btn-primary") }}
                                </div>
                            </form>
                        </div>

                        {% if core.survey %}
                            <!-- Update survey -->
                            <div role="tabpanel" class="tab-pane fade" id="survey-pane">
                                {% include "cores/survey.html" with context %}
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
            {% include "cores/leaders.html" %}

        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {

            var url = URI('/api/core-posts/');
            url.addQuery('include', 'author,author.name');
            url.addQuery('fields[core-posts]', 'title,created-on,updated-on,author');
            url.addQuery('fields[users]', 'name');
            url.addQuery('fields[user-names]', 'formal');
            url.addQuery('filter[core.id.eq]', {{ core.id }});

            $.getJSON(url.readable(), function (json) {
                var table = $('#post-table').DataTable({
                    data: jsonapi.parse_response(json),
                    columns: [
                        {
                            data: function (post) {
                                return can.dom.link('{{ url_for('web.show_core', core_id=core.id) }}/posts/' + post.id,
                                        post.title);
                            }
                        },
                        {
                            data: function (post) {
                                return post.author.name.formal;
                            }
                        },
                        {
                            data: 'created-on',
                            render: can.dom.datetime,
                        },
                        {
                            data: 'updated-on',
                            render: can.dom.datetime,
                        },
                    ],
                });
            });

        });
    </script>
{% endblock %}