{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-offset-1 col-md-10">
                <div class="btn-group">
                    {% for c in cores %}
                        <a type="button"
                           href="{% if c.id == core.id %}#{% else %}{{ url_for('web.show_core', id=c.id) }}{% endif %}"
                           class="btn {% if c.id == core.id %}btn-primary{% else %}btn-default{% endif %}">
                            {{ c.name }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <h1 class="page-header text-primary">{{ core.name }} Core</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-1 hidden-xs hidden-sm">
                <img class="img-circle img-responsive" width="240" src="{{ core.image_url }}" alt="{{ core.name }}">
            </div>
            <div class="col-md-8">
                {% if current_user.is_authenticated %}
                    {% include 'cores/posts/list.html' %}
                {% else %}
                    <ul class="list-group">
                        {% include 'cores/' + core.key + '.html' %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <hr/>
                <p class="text-muted">Core Leaders:
                    {% for user in core.leaders %}
                        {% if current_user.is_authenticated %}
                            <a href="{{ url_for('web.show_user', id=user.id) }}">{{ user.name }}</a>
                        {% else %}
                            {{ user.name }}
                        {% endif %}
                        {%- if not loop.last -%},{%- endif -%}
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {

            $('#post-new').click(function () {
                $('#post-new').hide();
                $('#post-form').collapse('show');
            });
        });
    </script>
{% endblock %}