<form action="{{ url_for('web.create_core_post', id=core.id) }}" method="post" data-toggle="validator">
    {{ form.csrf_token() }}
    <div class="form-group">
        {{ form.title(class="form-control", placeholder=form.title.label.text, required="required") }}
    </div>
    <div class="form-group">
        {{ form.body(class="form-control", placeholder=form.body.label.text, required="required") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary btn-sm pull-right") }}
    </div>
</form>

<ul class="media-list">
{% for post in core.posts %}
<li class="media">
  <div class="media-left">
    <a href="{{ url_for('web.show_user', id=post.author.id) }}">
      <img class="media-object thumbnail"
           width="100px" height="100px"
           src="{{ url_for('web.get_user_avatar', id=post.author.id) }}"
           alt="{{ post.author.name }}">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{ post.title }}</h4>
    <p class="text-muted">
        <em>Created <time class="moment">{{ post.created_on.isoformat() }}Z</time>
            by <a href="{{ url_for('web.show_user', id=post.author.id) }}">{{ post.author.name }}</a>
        </em>
    </p>
    <div>
        {{ post.body }}
    </div>
  </div>
</li>
{% endfor %}
</ul>