<div class="container">

    {% from "survey.html" import render_question, render_submit with context %}
    <form id="surveyForm" action="{{ url_for('web.update_user_survey', user_id=current_user.id,
                                                                       survey_id=core.survey.id) }}"
          method="post">
        {{ survey_form.csrf_token }}
        <div class="row">
            <div class="col-md-12">
                <p class="help-block">
                    {{ core.survey.description }}
                </p>
            </div>
        </div>

        <div class="row">
            {% for name in ('mammals', 'cells', 'nucleic') %}
                <div class="col-md-4">
                    {{ render_question(core.survey.questions[name], core.survey.id, current_user) }}
                </div>
            {% endfor %}
        </div>

        <hr/>
        {{ render_submit(survey_form, core.survey.id) }}
    </form>
</div>