<img class="thumbnail img-rounded" src="{{ meeting.image_url }}">

<div class="page-header">
    <h1>Cairns, Australia 2017<br/>
        <small>12th Annual Meeting, October 12th - 14th</small>
    </h1>
</div>
    <ul class="event-list">
        <li>
            <time datetime="2017-10-11 0000">
                <span class="day">11</span>
                <span class="month">Oct</span>
            </time>
            <div class="info">
                <h2 class="title">Pre-Event Activies, Cairns<br/>
                    <!--<small><span class="label label-warning">GEoPD members only</span></small>-->
                </h2>
                <table class="table desc">
                    <tbody>
                    <tr>
                        <td>7:30</td>
                        <td>Tourism activites - spouses and partners</td>
                    </tr>
                    <tr>
                        <td>18:00</td>
                        <td>Welcome to GEoPD FNQ Cocktails Reception</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </li>

        <li>
            <time datetime="2017-10-12 0000">
                <span class="day">12</span>
                <span class="month">Oct</span>
            </time>
            <div class="info">
                <h2 class="title">Consortium<br/>
                    <!--<small><span class="label label-warning">GEoPD members only</span></small>-->
                </h2>
                <table class="table desc">
                    <tbody>
                    <tr>
                        <td>8:00</td>
                        <td>Registration</td>
                    </tr>
                    <tr>
                        <td>8:30</td>
                        <td>Welcome</td>
                    </tr>
                    <tr>
                        <td>9:00</td>
                        <td>Ongoing Projects</td>
                    </tr>
                    <tr>
                        <td>11:00</td>
                        <td>Datablitz 1</td>
                    </tr>
                    <tr>
                        <td>14:00</td>
                        <td>Datablitz 2</td>
                    </tr>
                    <tr>
                        <td>16:00</td>
                        <td>New Project Proposals</td>
                    </tr>
                    <tr>
                        <td>18:00</td>
                        <td>Steering Committee Working Dinner</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </li>

        <li>
            <time datetime="2017-10-13 0000">
                <span class="day">13</span>
                <span class="month">Oct</span>
            </time>
            <div class="info">
                <h2 class="title">Science to Conquer Parkinson's Symposium<br/>
                    <!--<small><span class="label label-warning">GEoPD members only</span></small>-->
                </h2>
                <table class="table desc">
                    <tbody>
                    <tr>
                        <td>8:00</td>
                        <td>Registration</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>8:30</td>
                        <td>Symposium Opening</td>
                        <td>Prof. George Mellick et al.</td>
                    </tr>
                    <tr>
                        <td>9:30</td>
                        <td>Therapeutic Horizons(Industry pathways to the clinic and current experiential targets for clinical trials)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>11:00</td>
                        <td>Biomarker Benchmarking(Challenges to finding a cure) Blood; Imaging, Cells, Cognitive etc.</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>13:00</td>
                        <td>Lunch - Industry Presentation</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>14:00</td>
                        <td>Cutting Edge Primary Research 1 (What the future holds) Genetics; environment; cell biology; model organism</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>16:00</td>
                        <td>Cutting Edge Primary Research 2 </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>17:30</td>
                        <td>James Parkinson - Bicentenary Oration</td>
                        <td>Prof. Matt Farrer, CSO of Neurocode, Department of Medical Genetics, University of British Columbia</td>
                    </tr>
                    <tr>
                        <td>19:00</td>
                        <td>Symposium Dinner</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </li>

        <li>
            <time datetime="2017-10-14 0000">
                <span class="day">14</span>
                <span class="month">Oct</span>
            </time>
            <div class="info">
                <h2 class="title">Parkinson's Queensland Members & Support Groups Forum<br/>
                    <!--<small><span class="label label-warning">GEoPD members only</span></small>-->
                </h2>
                <table class="table desc">
                    <tbody>
                    <tr>
                        <td>8:30</td>
                        <td>Registration</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>9:00</td>
                        <td>Welcome</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>9:30</td>
                        <td>The science of Parkinson's - Summary of GEoPD</td>
                        <td>Various presenters</td>
                    </tr>
                    <tr>
                        <td>11:00</td>
                        <td>Where to for PQI - 2020</td>
                        <td>Prof. George Mellick Q & A</td>
                    </tr>
                    <tr>
                        <td>13:00</td>
                        <td>Lunch with the President</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </li>

        <li>
            <time datetime="2017-10-15 0000">
                <span class="day">15</span>
                <span class="month">Oct</span>
            </time>
            <div class="info">
                <h2 class="title">Post Event Activities<br/>
                </h2>
                <table class="table desc">
                    <tbody>
                    <tr>
                        <td>7:30</td>
                        <td>Free time to enjoy Cairns and FNQ </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </li>
    </ul>
