<img class="thumbnail img-rounded" src="{{ meeting.image_url }}">

<div class="page-header">
    <h1>Cairns, Australia 2017<br/>
        <small>12th Annual Meeting, October 12th - 14th</small>
    </h1>
</div>
    <ul class="event-list">
        <li>
            <time datetime="2017-10-11 0000">
                <span class="day">11</span>
                <span class="month">Oct</span>
            </time>
            <div class="info">
                <h2 class="title">Cairns, Queensland<br/>
                    <small><span class="label label-warning">GEoPD members only</span></small>
                </h2>
                <table class="table desc">
                    <tbody>
                    <tr>
                        <td>12:00</td>
                        <td>City Tour of Cairns</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>18:00</td>
                        <td>Welcome Reception </td>
                        <td>Pool Deck Pullman International Hotel</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </li>

        <li>
            <time datetime="2017-10-12 0000">
                <span class="day">12</span>
                <span class="month">Oct</span>
            </time>
            <div class="info">
                <h2 class="title">Pullman International Hotel, Cairns<br/>
                    <small><span class="label label-warning">GEoPD members only</span></small>
                </h2>
                <table class="table desc">
                    <tbody>
                    <tr>
                        <td>8:00</td>
                        <td>Registration</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>8:30</td>
                        <td>Opening of GeoPD Consortium Meeting</td>
                        <td>Bluewater 1 Room</td>
                    </tr>
                    <tr>
                        <td>9:00</td>
                        <td>Ongoing GEoPD Projects</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>10:30</td>
                        <td>Morning Tea</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>11:00</td>
                        <td>Datablitz Presentations</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>13:00</td>
                        <td>Lunch - poster presentations</td>
                        <td>Exhibition Area</td>
                    </tr>
                    <tr>
                        <td>14:00</td>
                        <td>Datablitz Presentations Continues</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>15:30</td>
                        <td>Afternoon Tea</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>16:00</td>
                        <td>New Project Proposals</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>18:30</td>
                        <td>Steering Committee Dinner</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </li>

        <li>
            <time datetime="2017-10-13 0000">
                <span class="day">13</span>
                <span class="month">Oct</span>
            </time>
            <div class="info">
                <h2 class="title">"Science to Conquer Parkinson's Symposium", Parkinson's Queensland<br/>
                    <small><span class="label label-success">Open to All Registrants</span></small>
                </h2>
                <table class="table desc">
                    <tbody>
                    <tr>
                        <td>8:00</td>
                        <td>Registration</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>8:30</td>
                        <td>Symposium Opening Event</td>
                        <td>Prof. George Mellick</td>
                    </tr>
                    <tr>
                        <td>9:30</td>
                        <th colspan="3">Session 1: Therapeutic Horizons</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td>"Amyloid Beta and Drug Discovery in Alzheimers - are there lessons for Parkinson's?"</td>
                        <td>Prof. Colin Masters, University of Melbourne</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>"Current Clinic Trial Efforts in Parkinson's"</td>
                        <td>Dr. Richard Wyse, Cure Parkinson's Trust UK</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>"Advances in Neurosurgery for Neurodegenerative disease"</td>
                        <td>Prof. Peter Silburn, University of Queensland</td>
                    </tr>
                    <tr>
                        <td>10:30</td>
                        <td>Morning Tea</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>11:00</td>
                        <th colspan="3">Session 2: Biomarkers, Benchmarking and other Challenges</th>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>"Genetic Analysis and the Clinician - using genetic analysis to guide therapy"</td>
                        <td>Prof. Christine Klein, University of Luebeck Germany</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>"The Australian Imaging Biomarkers and Lifestyle Project"</td>
                        <td>Prof. Ashley Bush, Florey Institute</td>
                    </tr>
                    <tr>
                        <td>13:00</td>
                        <td>Lunch (Exhibitors and Poster Session)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>14:00</td>
                        <th colspan="3">Session 3: Cutting Edge Primary Research</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td>"Establishing a multi-disciplinary approach linking the clinic to research"</td>
                        <td>Prof. Rejko Krueger, University of Luxembourg</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>"Advances in complex genetic analysis - methylation and exposures"</td>
                        <td>Dr. Jake Gratton, University of Queensland</td>
                    </tr>
                    <tr>
                        <td>15:30</td>
                        <td>Afternoon Tea</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>16:00</td>
                        <th colspan="3">Session 3 continues</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td>"Protein Trafficking in Neurodegenerative Diseases"</td>
                        <td>Prof. Rohan Teasdale, University of Queensland</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>"Blood biomarkers for Parkinson's"</td>
                        <td>Prof. Antony Cooper, Garvan Institute</td>
                    </tr>
                    <tr>
                        <td>18:00</td>
                        <th colspan="3">"The James Parkinson" - Bicentenary Oration</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td>"Parkinson’s disease – personalized, precision medicine from 20 years of genetic insight"</td>
                        <td>Prof. Matt Farrer, CSO of Neurocode, Department of Medical Genetics, University of British Columbia</td>
                    </tr>
                    <tr>
                        <td>19:30</td>
                        <td>Symposium Dinner<br>
                            <small><span class="label label-success">Open to All Registrants</span></small>
                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </li>

        <li>
            <time datetime="2017-10-14 0000">
                <span class="day">14</span>
                <span class="month">Oct</span>
            </time>
            <div class="info">
                <h2 class="title">Parkinson's Queensland Members & Support Groups Forum<br/>
                    <small><span class="label label-success">open to GeoPD members and PQI members and supporters</span></small>
                </h2>
                <table class="table desc">
                    <tbody>
                    <tr>
                        <td>8:30</td>
                        <td>Registration</td>
                        <td>Pullman International Hotel Cairns, Queensland (Bluewater Rooms 1)</td>
                    </tr>
                    <tr>
                        <td>9:00</td>
                        <td>Opening and Welcome</td>
                        <td>Prof. George Mellick</td>
                    </tr>
                    <tr>
                        <td>9:30</td>
                        <td>Science Summary of Interesting Highlights from the Forum and how this impacts on people living with Parkinson's</td>
                        <td>Various local presenters</td>
                    </tr>
                    <tr>
                        <td>11:00</td>
                        <td>Parkinson's Queensland Strategic Plan - Towards 2020</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>13:00</td>
                        <td>Lunch with the President & Meeting Close</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th colspan="3">Tour opportunities (Great Barrier Reef, Cairns Hinterland, Rainforest Tour, etc.)</th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </li>

    </ul>
