<div class="jumbotron">
    <img src="{{ meeting.image_url }}">
    <h1>Join us for the 12th Annual Meeting of the GEoPD Consortium!</h1>
    <p class="jumbotron-strip">
        A joint event with the 3rd International Parkinson’s Disease Symposium of the Luxembourg Centre for
        Systems Biomedicine.
    </p>
    <p><a class="btn btn-primary btn-lg" href="https://geopd.uni.lu/" role="button">Learn more</a></p>
</div>

<div class="page-header">
    <h1>Cairns 2017<br/>
        <small>12th Annual Meeting, October 12th - 14th</small>
    </h1>
</div>
    <ul class="event-list">
        <span>Programs will be updated soon.</span>
    </ul>


<!--<ul class="event-list">-->
    <!--<li>-->
        <!--<time datetime="2017-10-12 0000">-->
            <!--<span class="day">12</span>-->
            <!--<span class="month">Oct</span>-->
        <!--</time>-->
        <!--<div class="info">-->
            <!--<h2 class="title">Campus Belval, Luxembourg<br/>-->
                <!--<small><span class="label label-warning">GEoPD members only</span></small>-->
            <!--</h2>-->
            <!--<table class="table desc">-->
                <!--<tbody>-->
                <!--<tr>-->
                    <!--<td>12:00</td>-->
                    <!--<td>PD Map Workshop</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>17:00</td>-->
                    <!--<td>Luxembourg City Tour</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>19:00</td>-->
                    <!--<td>Welcome Dinner</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
    <!--</li>-->
    <!--<li>-->
        <!--<time datetime="2016-10-06 0000">-->
            <!--<span class="day">06</span>-->
            <!--<span class="month">Oct</span>-->
        <!--</time>-->
        <!--<div class="info">-->
            <!--<h2 class="title">Campus Belval, Luxembourg<br/>-->
                <!--<small><span class="label label-warning">GEoPD members only</span></small>-->
            <!--</h2>-->
            <!--<table class="table desc">-->
                <!--<tbody>-->
                <!--<tr>-->
                    <!--<td>8:30</td>-->
                    <!--<td>Welcome & Membership Updates</td>-->
                    <!--<td>Rejko Krüger, President of GEoPD</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>9:00</td>-->
                    <!--<td>"Rare varients, common disease sequencing and genotyping"</td>-->
                    <!--<td>Matt Farrer, Department of Medical Genetics, University of British Columbia</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>9:45</td>-->
                    <!--<td>"Long-PD study"</td>-->
                    <!--<td>Katerina Markopoulou, Neurology, Northshore Healthcare System, Evanston, Illinois, USA</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>10:30</td>-->
                    <!--<td>Coffee break</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>11:00</td>-->
                    <!--<td>"Courage-PD"</td>-->
                    <!--<td>Alexis Elbaz, Manu Sharma and Rejko Krüger</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>12:00</td>-->
                    <!--<td>Lunch</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>13:00</td>-->
                    <!--<td>Datablitz 1 GEoPD</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>15:30</td>-->
                    <!--<td>Coffee break</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>16:00</td>-->
                    <!--<td>Datablitz 2 GEoPD</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>18:00</td>-->
                    <!--<td>Optional lab tour</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>19:00</td>-->
                    <!--<td>Steering committee dinner</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
    <!--</li>-->
    <!--<li>-->
        <!--<time datetime="2015-10-07 0000">-->
            <!--<span class="day">07</span>-->
            <!--<span class="month">Oct</span>-->
        <!--</time>-->
        <!--<div class="info">-->
            <!--<h2 class="title">Campus Belval, Luxembourg</h2>-->
            <!--<table class="table desc">-->
                <!--<tbody>-->
                <!--<tr>-->
                    <!--<td>8:30</td>-->
                    <!--<td>Welcome by Rudi Balling, LCSB Director</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>9:00</td>-->
                    <!--<td>Keynote by Michel Goedert, Head of the division of Neurobiology</td>-->
                    <!--<td>MRC Laboratory of Molecular Biology, Cambridge</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>10:00</td>-->
                    <!--<td>Coffee break with Poster session and industry exhibition</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<th colspan="3">-->
                        <!--Session 1: Mitochondrial Dysfunction & Dynamics-->
                    <!--</th>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>10:30</td>-->
                    <!--<td>"Gene products of monogenic forms for Parkinson's disease and their links to mitochondrial and-->
                        <!--protein degradation pathways"-->
                    <!--</td>-->
                    <!--<td>Clinical: Nobutaka Hattori, Chairman, Juntendo University School of Medicine</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>11:00</td>-->
                    <!--<td>Translational: George Mellick, Chief Investigator, Griffith University</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>11:30</td>-->
                    <!--<td>"Damage Control and Parkinson's Disease: Roles of the kinase PINK1 and the ubiquitin ligase-->
                        <!--Parkin in the autophagy of mitochondria in vitro and in vivo"-->
                    <!--</td>-->
                    <!--<td>Fundamental: Richard Youle, Senior Investigator, National Institutes of Health</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>12:00</td>-->
                    <!--<td>Young researcher</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>12:15</td>-->
                    <!--<td>Lunch & poster session & industry exhibition and guided poster tour</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<th colspan="3">-->
                        <!--Session 2: Connectivity and Excitability-->
                    <!--</th>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>13:30</td>-->
                    <!--<td>"DBS in PD: where do we stand and how may technical innovations help improving"</td>-->
                    <!--<td>Clinical: Jens Volkmann, Director and Chairman of the Department of Neurology, University-->
                        <!--Hospital of Würzburg-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>14:00</td>-->
                    <!--<td>Translational: Richard Wade-Martins, Principal Investigator, The Oxford Parkinson's Disease-->
                        <!--Centre-->
                    <!--</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>14:30</td>-->
                    <!--<td>"Bad brain waves in Parkinson's and new approaches to putting them right"</td>-->
                    <!--<td>Fundamental: Peter Brown, Director, Medical Research Council Brain Network Dynamics Unit,-->
                        <!--University of Oxford-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>15:00</td>-->
                    <!--<td>Young researcher</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>15:15</td>-->
                    <!--<td>Coffee break</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<th colspan="3">-->
                        <!--Session 3: Aggregation & degradation-->
                    <!--</th>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>15:45</td>-->
                    <!--<td>"Clinical phenotypes related to synuclein pathology in Parkinson´s disease"</td>-->
                    <!--<td>Clinical: Jan O. Aasly, Consultant Neurologist/Professor of Neurology, St. Olavs Hospital</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>16:15</td>-->
                    <!--<td>"PRX002, a Mab targeting alpha-synuclein for disease modification in Parkinson's disease: from-->
                        <!--preclinical models to first in humans"-->
                    <!--</td>-->
                    <!--<td>Translational: Markus Britschgi, Principal Scientist in Neuroscience Discovery, Roche - See more-->
                        <!--at: https://geopd.uni.lu/Program/7-October#sthash.FRwkHUlZ.dpuf-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>16:45</td>-->
                    <!--<td>"Alpha-synuclein synaptic dysfunction in Parkinson’s disease"</td>-->
                    <!--<td>Fundamental: Maria Grazia Spillantini, Professor of Molecular Neurology, University of-->
                        <!--Cambridge-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>17:15</td>-->
                    <!--<td>Young researcher</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>17:30</td>-->
                    <!--<td>Wrap-up</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>18:30</td>-->
                    <!--<td>Social event "A night at the furnace", Reception, dinner & cultural heritage</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
    <!--</li>-->
    <!--<li>-->
        <!--<time datetime="2015-10-08 0000">-->
            <!--<span class="day">08</span>-->
            <!--<span class="month">Oct</span>-->
        <!--</time>-->
        <!--<div class="info">-->
            <!--<h2 class="title">Campus Belval, Luxembourg</h2>-->
            <!--<table class="table desc">-->
                <!--<tbody>-->
                <!--<tr>-->
                    <!--<th colspan="3">-->
                        <!--Session 4: Innovation & technological development-->
                    <!--</th>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>8:30</td>-->
                    <!--<td>Clinical: Bas Bloem, Medical director, Radboud University Medical Center</td>-->
                    <!--<td>"Towards precision medicine for Parkinson’s disease"</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>9:00</td>-->
                    <!--<td>Translational: Spyridon Papapetropoulos, Vice President, Global Development Head,-->
                        <!--Neurodegenerative Diseases, Teva Pharmaceuticals-->
                    <!--</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>9:30</td>-->
                    <!--<td>"Contributions of Gene–Environment and Epigenetic studies to Parkinson’s Disease Etiology and-->
                        <!--Progression"-->
                    <!--</td>-->
                    <!--<td>Fundamental: Beate Ritz, Professor of Epidemiology, Center for Occupational and Environmental-->
                        <!--Health-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>10:00</td>-->
                    <!--<td>Young researcher</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>10:15</td>-->
                    <!--<td>Coffee break with Poster session</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<th colspan="3">-->
                        <!--Session 5: Diagnostic video sessions-->
                    <!--</th>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>10:45</td>-->
                    <!--<td>"Dyskinesia in PD"</td>-->
                    <!--<td>Beomseok Jeon, Medical Director, National University Hospital</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>11:15</td>-->
                    <!--<td>Diagnostics video sessions</td>-->
                    <!--<td>-->
                        <!--<ul>-->
                            <!--<li>Jan Aasly</li>-->
                            <!--<li>Nico Diederich</li>-->
                            <!--<li>Rejko Krüger</li>-->
                        <!--</ul>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>12:00</td>-->
                    <!--<td>Lunch</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<th colspan="3">-->
                        <!--Session 6: Multidisciplinary approach to PD care <br/>-->
                        <!--<small><span class="label label-warning">not to be provided in English</span></small>-->
                    <!--</th>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>13:00</td>-->
                    <!--<td>Mariella Graziano</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>13:20</td>-->
                    <!--<td>Sylvia Herbrink</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>13:40</td>-->
                    <!--<td>Frank Hertel</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>14:00</td>-->
                    <!--<td>Nico Diederich</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>14:20</td>-->
                    <!--<td>Panel discussion with patient organisations</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>15:00</td>-->
                    <!--<td>Wrap up and closing</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>12:00-16:00</td>-->
                    <!--<td>PD Map workshop<br/>-->
                        <!--<small><span class="label label-warning">Parallel session</span></small>-->
                    <!--</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
    <!--</li>-->
<!--</ul>-->