<img class="thumbnail img-rounded" src="{{ meeting.image_url }}">
<div class="page-header">
    <h1>Evanston, USA 2011<br/>
        <small>6th Annual Meeting, September 19th - 21st</small>
    </h1>
</div>

<ul class="event-list">
    <li>
        <time datetime="2015-09-19 0000">
            <span class="day">19</span>
            <span class="month">Sep</span>
        </time>
        <div class="info">
            <h2 class="title">Welcome!</h2>
            <table class="table desc">
                <tbody>
                <tr>
                    <td>Whole day tour and dinner for all meeting attendants</td>
                </tr>
                </tbody>
            </table>
        </div>
    </li>
    <li>
        <time datetime="2015-09-20 0000">
            <span class="day">20</span>
            <span class="month">Sep</span>
        </time>
        <div class="info">
            <h2 class="title">GEoPD updates (Rejko Kruger)</h2>
            <table class="table desc">
                <tbody>
                <tr>
                    <td>7:00</td>
                    <td>Registration/Put up posters</td>
                    <td></td>
                </tr>
                <tr>
                    <td>8:00</td>
                    <td>Welcome</td>
                    <td>Jim Maraganore/Leo Selker</td>
                </tr>
                <tr>
                    <th colspan="3">Progress reports of active GEO-PD studies</th>
                </tr>
                <tr>
                    <td>8:30</td>
                    <td>Large-scale replication of GWAS of PD</td>
                    <td>Manu Sharma</td>
                </tr>
                <tr>
                    <td>09:30</td>
                    <td>Rare variants common disease study</td>
                    <td>Matt Farrer</td>
                </tr>
                <tr>
                    <td>10:30</td>
                    <td>Coffee break</td>
                    <td></td>
                </tr>
                <tr>
                    <td>11:00</td>
                    <td>SNCA and outcomes</td>
                    <td>Jim Maraganore</td>
                </tr>
                <tr>
                    <td>12:00</td>
                    <td>Lunch (Downtown Evanston venues)</td>
                    <td>Jan Aasly</td>
                </tr>
                <tr>
                    <td>13:30</td>
                    <td colspan="2">Data blitz presentations (10 minutes per GEO-PD site)</td>
                </tr>
                <tr>
                    <td>15:30</td>
                    <td>Coffee break</td>
                    <td></td>
                </tr>
                <tr>
                    <td>16:00</td>
                    <td>Conclusion of data blitz, questions and answers (group)</td>
                    <td></td>
                </tr>
                <tr>
                    <td>19:00</td>
                    <td>Dinner (To be determined)</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </li>
    <li>
        <time datetime="2015-09-21 0000">
            <span class="day">21</span>
            <span class="month">Sep</span>
        </time>
        <div class="info">
            <h2 class="title">Alexis Elbaz</h2>
            <table class="table desc">
                <tbody>
                <tr>
                    <td>8:00</td>
                    <td>Guided poster tour</td>
                    <td>Eric Ahlskog</td>
                </tr>
                <tr>
                    <td>10:00</td>
                    <td>Planning for the GEO-PD Consortium</td>
                    <td>
                        <ul>
                            <li>New project proposals</li>
                            <li>Funding opportunities</li>
                            <li>Future meetings</li>
                            <li>Governance</li>
                            <li>Closing remarks/ take down posters</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>12:00</td>
                    <td colspan="2">Lunch meeting of the GEoPD Steering Committee</td>
                </tr>
                <tr>
                    <td>14:00</td>
                    <td>Adjourn</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </li>
</ul>
