<img class="thumbnail img-rounded" src="{{ meeting.image_url }}">
<div class="page-header">
    <h1>Luebeck, Germany 2013<br/>
        <small>8th Annual Meeting, October 16th - 19th</small>
    </h1>
</div>

<ul class="event-list">
    <li>
        <time datetime="2015-10-16 0000">
            <span class="day">16</span>
            <span class="month">Oct</span>
        </time>
        <div class="info">
            <h2 class="title">Welcome!</h2>
            <table class="table desc">
                <tbody>
                <tr>
                    <td>16:30</td>
                    <td>City tour</td>
                    <td></td>
                </tr>
                <tr>
                    <td>19:00</td>
                    <td>Welcome Dinner</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </li>
    <li>
        <time datetime="2015-10-17 0000">
            <span class="day">17</span>
            <span class="month">Oct</span>
        </time>
        <div class="info">
            <h2 class="title"></h2>
            <table class="table desc">
                <tbody>
                <tr>
                    <td>8:00</td>
                    <td>Welcome and update membership, Website</td>
                    <td>Demetrius Maraganore</td>
                </tr>
                <tr>
                    <td>8:45</td>
                    <td>C9ORF72 repeats & Lewy body disorders</td>
                    <td>Jesse Theuns</td>
                </tr>
                <tr>
                    <td>9:30</td>
                    <td>Polyglutamine repeats and PD</td>
                    <td>Manu Sharma</td>
                </tr>
                <tr>
                    <td>10:10</td>
                    <td>Break</td>
                    <td></td>
                </tr>
                <tr>
                    <td>10:30</td>
                    <td>GEOPD RVCD sequencing and genotyping project</td>
                    <td>Matthew Farrer</td>
                </tr>
                <tr>
                    <td>11:15</td>
                    <td>Research electronic data capture and sharing of outcomes data and DNAs in PD</td>
                    <td>Demetrius Maraganore</td>
                </tr>
                <tr>
                    <td>12:00</td>
                    <td>Lunch</td>
                    <td></td>
                </tr>
                <tr>
                    <td>13:00</td>
                    <td>Data Blitz genetics / functional (10-12 speakers)</td>
                    <td>Moderator: Thomas Gasser</td>
                </tr>
                <tr>
                    <td>14:45</td>
                    <td>Break</td>
                    <td></td>
                </tr>
                <tr>
                    <td>15:15</td>
                    <td>Data Blitz epidemiology / clinical (10-12 speakers)</td>
                    <td>Moderator: Christine Klein</td>
                </tr>
                <tr>
                    <td>17:00</td>
                    <td>Steering Committee Meeting & Dinner</td>
                    <td>
                        <small><span class="label label-warning">Steering committee members only</span></small>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </li>
    <li>
        <time datetime="2015-10-18 0000">
            <span class="day">18</span>
            <span class="month">Oct</span>
        </time>
        <div class="info">
            <h2 class="title"></h2>
            <table class="table desc">
                <tbody>
                <tr>
                    <td>8:00</td>
                    <td>Working groups meeting</td>
                    <td>
                        <ul>
                            <li>Clinical: Demetrius Maraganore</li>
                            <li>Genetic: Matthew Farrer</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>10:00</td>
                    <td>Break</td>
                    <td></td>
                </tr>
                <tr>
                    <td>10:30</td>
                    <td>Approaches for an earlier diagnosis of PD</td>
                    <td>Daniela Berg</td>
                </tr>
                <tr>
                    <td>11:00</td>
                    <td>Genetics of autosomal-recessive PD</td>
                    <td>Alexis Brice</td>
                </tr>
                <tr>
                    <td>11:30</td>
                    <td>The role of micro-RNAs in PD; A genetic perspective</td>
                    <td>Lars Bertram</td>
                </tr>
                <tr>
                    <td>12:00</td>
                    <td>Lunch</td>
                    <td></td>
                </tr>
                <tr>
                    <td>13:00</td>
                    <td>Hot topics<br/>
                        <small><span class="label label-warning">30 minutes each</span></small>
                    </td>
                    <td>
                        <ul>
                            <li>Alexis Elbaz (Epidemiology)</li>
                            <li>Thomas Gasser (Genetics)</li>
                            <li>Rejko Krüger (Functional studies)</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>14:30</td>
                    <td>Unmet needs discussion</td>
                    <td>Demetrius Maraganore & Matthew Farrer</td>
                </tr>
                <tr>
                    <td>15:00</td>
                    <td>Break</td>
                    <td></td>
                </tr>
                <tr>
                    <td>19:00</td>
                    <td>Gala Dinner</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </li>
    <li>
        <time datetime="2015-10-19 0000">
            <span class="day">19</span>
            <span class="month">Oct</span>
        </time>
        <div class="info">
            <h2 class="title"></h2>
            <table class="table desc">
                <tbody>
                <tr>
                    <td>9:00</td>
                    <td>Cohort studies in PD</td>
                    <td>Peter Pramstaller</td>
                </tr>
                <tr>
                    <td>9:30</td>
                    <td>Imaging studies in PD</td>
                    <td>Ulrike Krämer</td>
                </tr>
                <tr>
                    <td>10:00</td>
                    <td>Non-motor symptoms in PD</td>
                    <td>Meike Kasten</td>
                </tr>
                <tr>
                    <td>10:30</td>
                    <td>Break</td>
                    <td></td>
                </tr>
                <tr>
                    <td>11:00</td>
                    <td>Multimodal approaches to study PD</td>
                    <td>Christine Klein</td>
                </tr>
                <tr>
                    <td>11:30</td>
                    <td>Vitamin K as a personalized treatment approach for genetic PD</td>
                    <td>Patrik Verstreken</td>
                </tr>
                <tr>
                    <td>12:00</td>
                    <td>Lunch</td>
                    <td></td>
                </tr>
                <tr>
                    <td>12:30</td>
                    <td>Poster tours</td>
                    <td></td>
                </tr>
                <tr>
                    <td>15:00</td>
                    <td>Update from working groups</td>
                    <td></td>
                </tr>
                <tr>
                    <td>15:45</td>
                    <td>New proposals/suggestions</td>
                    <td></td>
                </tr>
                <tr>
                    <td>16:30</td>
                    <td>Wrap-up</td>
                    <td>Demetrius Maraganore</td>
                </tr>
                <tr>
                    <td>17:00</td>
                    <td>Adjourn</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        Transcranial sonography class, October 19 - 21<br/>
                        <small><span class="label label-warning">optional</span></small>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </li>
</ul>


