<img class="thumbnail img-rounded" src="{{ meeting.image_url }}">
<div class="page-header">
    <h1>Seoul, Korea 2012<br/>
        <small>7th Annual Meeting, October 7th - 10th</small>
    </h1>
</div>

<ul class="event-list">
    <li>
        <time datetime="2015-10-07 0000">
            <span class="day">07</span>
            <span class="month">Oct</span>
        </time>
        <div class="info">
            <h2 class="title">Welcome!</h2>
            <table class="table desc">
                <tbody>
                <tr>
                    <td>Whole day tour and dinner for all meeting attendants</td>
                </tr>
                </tbody>
            </table>
        </div>
    </li>
    <li>
        <time datetime="2015-10-08 0000">
            <span class="day">08</span>
            <span class="month">Oct</span>
        </time>
        <div class="info">
            <h2 class="title"></h2>
            <table class="table desc">
                <tbody>
                <tr>
                    <td>9:00</td>
                    <td>Welcome & Membership Updates</td>
                    <td>Jim Maraganore, Medical Director (USA)</td>
                </tr>
                <tr>
                    <td>9:30</td>
                    <td>Polyglutamine repeats and PD</td>
                    <td>Manu Sharma (Germany)</td>
                </tr>
                <tr>
                    <td>10:15</td>
                    <td>Coffee & posters</td>
                    <td></td>
                </tr>
                <tr>
                    <td>11:00</td>
                    <td>RVCD sequencing & genotyping project</td>
                    <td>Carles Vilarino-Guell (Canada)</td>
                </tr>
                <tr>
                    <td>12:00</td>
                    <td>Lunch</td>
                    <td>Katerina Markopoulou & Videomessage</td>
                </tr>
                <tr>
                    <td>13:30</td>
                    <td>DataBlitz & Discussion</td>
                    <td>all attending GEoPD members</td>
                </tr>
                <tr>
                    <td>15:00</td>
                    <td>Coffee & posters</td>
                    <td></td>
                </tr>
                <tr>
                    <td>15:30</td>
                    <td>DataBlitz & Discussion</td>
                    <td></td>
                </tr>
                <tr>
                    <td>17:00</td>
                    <td>Adjourn</td>
                    <td></td>
                </tr>
                <tr>
                    <td>17:00</td>
                    <td>Closed Meeting, GEoPD Steering Committee</td>
                    <td>
                        <ul>
                            <li>BJ Jeon</li>
                            <li>Matt Farrer</li>
                            <li>Jim Maraganore</li>
                            <li>Rejko Kruger</li>
                            <li>Jesse Theuns</li>
                            <li>John Ioannidis</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>19:00</td>
                    <td>Closed Dinner, GEoPD Steering Committee</td>
                    <td>All other meeting attendants free to discover Seoul, list of recommended restaurants to be
                        provided
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </li>
    <li>
        <time datetime="2015-10-09 0000">
            <span class="day">09</span>
            <span class="month">Oct</span>
        </time>
        <div class="info">
            <h2 class="title"></h2>
            <table class="table desc">
                <tbody>
                <tr>
                    <th colspan="3">AM - Parkinson's disease in Asia/Australia<br/>
                        <small>Moderator: B Jeon, Korea</small>
                    </th>
                </tr>
                <tr>
                    <td>8:30</td>
                    <td>Introduction to the region/program</td>
                    <td>B Jeon (Korea)</td>
                </tr>
                <tr>
                    <td>8:40</td>
                    <td>What's shakin' down under: An update from the Queensland Parkinson's project</td>
                    <td>George Mellick (Australia)</td>
                </tr>
                <tr>
                    <td>9:20</td>
                    <td>The China Biomarker Initiative for Parkinson's Disease</td>
                    <td>Piu Chan (China)</td>
                </tr>
                <tr>
                    <td>10:00</td>
                    <td>Coffee & posters</td>
                    <td></td>
                </tr>
                <tr>
                    <td>10:30</td>
                    <td>LRRK2 study in Taiwan: Genetic analysis and functional assay</td>
                    <td>Christy Lin (Taiwan)</td>
                </tr>
                <tr>
                    <td>11:10</td>
                    <td>Familial PD in Japan</td>
                    <td>Nobu Hattori (Japan)</td>
                </tr>
                <tr>
                    <td>11:50</td>
                    <td>Gene therapy for parkinsonism; the promise and pitfalls</td>
                    <td>Shin-ichi Muramatsu (Japan)</td>
                </tr>
                <tr>
                    <td>12:30</td>
                    <td>Lunch</td>
                    <td></td>
                </tr>
                <tr>
                    <td>13:40</td>
                    <td>A novel regulatory role of PINK1 in mitochondrial complex IV: Mechanism and Therapeutics</td>
                    <td>Jin Son (Korea)</td>
                </tr>
                <tr>
                    <td>14:20</td>
                    <td>Mechanism of paracrine activation of microglia via neuronal alpha-synuclein</td>
                    <td>Seung-Jae Lee (Korea)</td>
                </tr>
                <tr>
                    <td>15:00</td>
                    <td>Coffee & posters</td>
                    <td>Koji Yamanaka</td>
                </tr>
                <tr>
                    <td>15:40</td>
                    <td>Highlights of PD Research in Singapore</td>
                    <td>EK Tan (Singapore)</td>
                </tr>
                <tr>
                    <td>16:20</td>
                    <td colspan="2">Panel discussion - Unmet needs, outreach and collaborative efforts in Aia</td>
                </tr>
                <tr>
                    <td>16:30</td>
                    <td>Mitochondrial pathology in PD - therapeutic approaches<br/>
                        <small><span class="label label-warning">special seminar</span></small>
                    </td>
                    <td>Rejko Kruger (Gemany)</td>
                </tr>
                <tr>
                    <td>17:20</td>
                    <td>Adjourn</td>
                    <td></td>
                </tr>
                <tr>
                    <td>18:00</td>
                    <td>Dinner</td>
                    <td>All meeting attendants</td>
                </tr>
                </tbody>
            </table>
        </div>
    </li>
    <li>
        <time datetime="2015-10-10 0000">
            <span class="day">10</span>
            <span class="month">Oct</span>
        </time>
        <div class="info">
            <h2 class="title"></h2>
            <table class="table desc">
                <tbody>
                <tr>
                    <th colspan="3">
                        Posters, Annual Members Meeting<br/>
                        <small>Moderator: Rejko Kruger, Germany</small>
                    </th>
                </tr>
                <tr>
                    <td>8:00</td>
                    <td>Guided poster tour</td>
                    <td>Jan Aasly (Norway)</td>
                </tr>
                <tr>
                    <td>10:00</td>
                    <td>Annual administrative meeting of the members</td>
                    <td>
                        <ul>
                            <li>Jim Maraganore (USA)</li>
                            <li>Matt Farrer (Canada)</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>12:00</td>
                    <td>Lunch</td>
                    <td></td>
                </tr>
                <tr>
                    <th colspan="3">
                        PM - Korean Public Meeting (GEoPD members invited)<br/>
                        <small><span class="label label-warning">GEoPD members invited</span></small>
                    </th>
                </tr>
                <tr>
                    <th colspan="3">
                        Genetics of Parkinson's Disease: Past Lessons & Future Opportunities<br/>
                        <small>Moderator: BJ Jeon, Korea</small>
                    </th>
                </tr>
                <tr>
                    <td>13:00</td>
                    <td>Next-generation sequencing; the new frontier</td>
                    <td>Carles Vilarino-Guell (Canada)</td>
                </tr>
                <tr>
                    <td>13:40</td>
                    <td>Cellular pathogenesis of Parkinson's disease: a unified genetic etiology?</td>
                    <td>Matt Farrer (Canada)</td>
                </tr>
                <tr>
                    <td>14:20</td>
                    <td>Cell-based therapeutics; lessons from fetal grafts to iPS</td>
                    <td>Jeff Kordower (USA)</td>
                </tr>
                <tr>
                    <td>15:00</td>
                    <td>Coffee break</td>
                    <td></td>
                </tr>
                <tr>
                    <td>15:30</td>
                    <td>Neuroimaging; leveraging endophenotypes to make discoveries</td>
                    <td>Norbert Bruggemann (Germany)</td>
                </tr>
                <tr>
                    <td>16:20</td>
                    <td>Back to the Future: from Greek Oracles to DNA Prediction</td>
                    <td>Jim Maraganore (USA)</td>
                </tr>
                <tr>
                    <td>17:00</td>
                    <td>Panel discussion</td>
                    <td></td>
                </tr>
                <tr>
                    <td>17:15</td>
                    <td>Adjourn</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </li>
</ul>
