<img class="thumbnail img-rounded" src="{{ meeting.image_url }}">
<div class="page-header">
    <h1>Tokyo, Japan 2015<br/>
        <small>10th Annual Meeting, October 1st - 2nd</small>
    </h1>
</div>

<ul class="event-list">
    <li>
        <time datetime="2015-09-30 0000">
            <span class="day">30</span>
            <span class="month">Sep</span>
        </time>
        <div class="info">
            <h2 class="title">Roppongi Hills Mori Tower 51F</h2>
            <table class="table desc">
                <tbody>
                <tr>
                    <td>20:00</td>
                    <td>Welcome Dinner Roppongi Hills Club</td>
                </tr>
                </tbody>
            </table>
        </div>
    </li>
    <li>
        <time datetime="2015-10-01 0000">
            <span class="day">01</span>
            <span class="month">Oct</span>
        </time>
        <div class="info">
            <h2 class="title">Auditorium, Roppongi Academyhills 49F</h2>
            <table class="table desc">
                <tbody>
                <tr>
                    <td>8:30</td>
                    <td>Welcome Messages</td>
                    <td>Nobutaka Hattori and Tatsushi Toda</td>
                </tr>
                <tr>
                    <td>8:45</td>
                    <td>Welcome and Membership Updates</td>
                    <td>Matthew Farrer</td>
                </tr>
                <tr>
                    <td>9:00</td>
                    <td>RVCD genotyping project</td>
                    <td>Matthew Farrer</td>
                </tr>
                <tr>
                    <td>9:15</td>
                    <td>COURAGE PD</td>
                    <td>Rejko Krüger, Alexis Elbaz, and Manu Sharma</td>
                </tr>
                <tr>
                    <td>9:45</td>
                    <td>LONG PD</td>
                    <td>Katerina Markopoulou & Videomessage</td>
                </tr>
                <tr>
                    <td>10:00</td>
                    <td>Genotype-phenotype correlations - studies in monogenic PD</td>
                    <td>Christine Klein</td>
                </tr>
                <tr>
                    <td>10:15</td>
                    <td>Break and Poster Viewing</td>
                    <td></td>
                </tr>
                <tr>
                    <td>10:45</td>
                    <td>Data Blitz</td>
                    <td></td>
                </tr>
                <tr>
                    <td>11:30</td>
                    <td>Lunch</td>
                    <td>Matthew Farrer</td>
                </tr>
                <tr>
                    <td>13:00</td>
                    <td>Data Blitz</td>
                    <td></td>
                </tr>
                <tr>
                    <td>15:00</td>
                    <td>Break</td>
                    <td></td>
                </tr>
                <tr>
                    <td>15:30</td>
                    <td>Data Blitz</td>
                    <td></td>
                </tr>
                <tr>
                    <td>19:00</td>
                    <td>Steering Committee Meeting & Dinner</td>
                    <td>Nishiazabu Takumi <span class="label label-warning">Steering committee only</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </li>
    <li>
        <time datetime="2015-10-02 0000">
            <span class="day">02</span>
            <span class="month">Oct</span>
        </time>
        <div class="info">
            <h2 class="title">Auditorium, Roppongi Academyhills 49F</h2>
            <table class="table desc">
                <tbody>
                <tr>
                    <td>8:30</td>
                    <td>Clinical Neurology</td>
                    <td>Beom Seok Jeon</td>
                </tr>
                <tr>
                    <td>8:45</td>
                    <td>Genetics</td>
                    <td>Wataru Satake</td>
                </tr>
                <tr>
                    <td>9:00</td>
                    <td>Epidemiology</td>
                    <td>Alexis Elbaz</td>
                </tr>
                <tr>
                    <td>9:15</td>
                    <td>Pathology</td>
                    <td>Masashi Takanashi</td>
                </tr>
                <tr>
                    <td>9:30</td>
                    <td>Panel Discussion</td>
                    <td>Lecturer in Hot Topics</td>
                </tr>
                <tr>
                    <td>10:10</td>
                    <td>Guided Posters</td>
                    <td></td>
                </tr>
                <tr>
                    <td>11:00</td>
                    <td>Break</td>
                    <td></td>
                </tr>
                <tr>
                    <td>11:15</td>
                    <td>Discussions</td>
                    <td>
                        <ul>Moderators:
                            <li>Rejko Krüger</li>
                            <li>Matthew Farrer</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>12:45</td>
                    <td>Luncheon Seminar</td>
                    <td>
                        <ul>
                            <li>Cooperated by GlaxoSmithKline</li>
                            <li>Moderator: Nobutaka Hattori</li>
                            <li>Speaker: Shigeki Hirano</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <strong>"At the Bench" Symposium</strong>
                        <p>Neurodegenerative disorders in cells to animals</p>
                        <ul>
                            <li>Cooperated by Sumitomo Dainippon Pharma</li>
                            <li>Moderators: Tatsushi Toda and Nobutaka Hattori</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>13:45</td>
                    <td>Mitochondria</td>
                    <td>Noriyuki Matsuda</td>
                </tr>
                <tr>
                    <td>14:15</td>
                    <td>Glia</td>
                    <td>Koji Yamanaka</td>
                </tr>
                <tr>
                    <td>15:45</td>
                    <td>Animal Model</td>
                    <td>Lecturer in Hot Topics</td>
                </tr>
                <tr>
                    <td>15:15</td>
                    <td>Break</td>
                    <td></td>
                </tr>
                <tr>
                    <td>15:45</td>
                    <td>Alpha-synuclein</td>
                    <td>Shigeto Sato</td>
                </tr>
                <tr>
                    <td>16:15</td>
                    <td>Genetics (1)</td>
                    <td>Manabu Funayama</td>
                </tr>
                <tr>
                    <td>16:35</td>
                    <td>Genetics (2)</td>
                    <td>Hirotaka Matsuo</td>
                </tr>
                <tr>
                    <td>16:55</td>
                    <td>Farewell Messages</td>
                    <td>Nobutaka Hattori</td>
                </tr>
                <tr>
                    <td>17:30</td>
                    <td>Bus transfer</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Reception</td>
                    <td>Yakata Bune Dinner at the Sumida River (HARUMIYA)</td>
                </tr>
                </tbody>
            </table>
        </div>
    </li>
</ul>