<img class="thumbnail img-rounded" src="{{ meeting.image_url }}">
<div class="page-header">
    <h1>Vancouver, Canada 2015<br/>
        <small>9th Annual Meeting, September 10th - 12th</small>
    </h1>
</div>

<ul class="event-list">
    <li>
        <time datetime="2015-09-10 0000">
            <span class="day">10</span>
            <span class="month">Sep</span>
        </time>
        <div class="info">
            <h2 class="title">Welcome!</h2>
            <table class="table desc">
                <tbody>
                <tr>
                    <td>18:30</td>
                    <td>Welcome Drinks</td>
                    <td>Lift Bar & Grill</td>
                </tr>
                <tr>
                    <td>19:00</td>
                    <td>Welcome Dinner</td>
                    <td>Lift Bar & Grill</td>
                </tr>
                </tbody>
            </table>
        </div>
    </li>
    <li>
        <time datetime="2015-09-11 0000">
            <span class="day">11</span>
            <span class="month">Sep</span>
        </time>
        <div class="info">
            <h2 class="title">Sheraton Vancouver Wall Centre</h2>
            <table class="table desc">
                <tbody>
                <tr>
                    <td>8:30</td>
                    <td>Welcome and update membership</td>
                    <td>Demetrius Maraganore</td>
                </tr>
                <tr>
                    <td>8:45</td>
                    <td>The LONG-PD Study: Longitudinal clinical and genetic studies of Parkinson’s disease</td>
                    <td>Demetrius Maraganore</td>
                </tr>
                <tr>
                    <td>9:45</td>
                    <td>Break</td>
                    <td></td>
                </tr>
                <tr>
                    <td>10:15</td>
                    <td>GEoPD RVCD sequencing and genotyping project</td>
                    <td>Matthew Farrer</td>
                </tr>
                <tr>
                    <td>11:15</td>
                    <td>COURAGE PD</td>
                    <td></td>
                </tr>
                <tr>
                    <td>12:00</td>
                    <td>Lunch</td>
                    <td></td>
                </tr>
                <tr>
                    <td>13:00</td>
                    <td>Data blitz epidemiology/clinical (7 speakers)</td>
                    <td>Moderator: Jan Aasly</td>
                </tr>
                <tr>
                    <td>14:45</td>
                    <td>Break</td>
                    <td></td>
                </tr>
                <tr>
                    <td>15:15</td>
                    <td>Data blitz genetics/neuroscience (13 speakers)</td>
                    <td>Moderator: Rejko Kruger</td>
                </tr>
                <tr>
                    <td>17:30</td>
                    <td>Adjourn</td>
                    <td></td>
                </tr>
                <tr>
                    <td>18:00</td>
                    <td>Steering Committee Meeting & Dinner</td>
                    <td>
                        <small><span class="label label-warning">Steering committee members only</span></small>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </li>
    <li>
        <time datetime="2015-09-12 0000">
            <span class="day">12</span>
            <span class="month">Sep</span>
        </time>
        <div class="info">
            <h2 class="title">University of British Columbia</h2>
            <table class="table desc">
                <tbody>
                <tr>
                    <td>7:45</td>
                    <td colspan="2">Bus departs from the Sharaton Hotel to University of British Columbia</td>
                </tr>
                <tr>
                    <th colspan="3">Hot Topics<br/>
                        <small>Moderator: Christine Klein</small>
                    </th>
                </tr>
                <tr>
                    <td>8:30</td>
                    <td>Epidemiology</td>
                    <td>Beate Ritz</td>
                </tr>
                <tr>
                    <td>9:10</td>
                    <td>Genetics</td>
                    <td>Christine Klein</td>
                </tr>
                <tr>
                    <td>9:50</td>
                    <td>Functional studies</td>
                    <td>Rejko Kruger</td>
                </tr>
                <tr>
                    <td>10:30</td>
                    <td>Break & Posters</td>
                    <td></td>
                </tr>
                <tr>
                    <td>11:30</td>
                    <td>Unmet Needs/New Proposals/Suggestions</td>
                    <td></td>
                </tr>
                <tr>
                    <td>12:30</td>
                    <td>Lunch</td>
                    <td></td>
                </tr>
                <tr>
                    <th colspan="3">Alpha-synuclein, cognition and therapeutic possibilities<br/>
                        <small>Moderator: Matthew Farrer</small>
                    </th>
                </tr>
                <tr>
                    <td>13:30</td>
                    <td>SNCA and cognition in PD, PD-MCI, PDD, DLB & AD</td>
                    <td>Matthew Farrer</td>
                </tr>
                <tr>
                    <td>14:15</td>
                    <td>PD-MCI Consortium</td>
                    <td>Gert Geurtsen – Amsterdam</td>
                </tr>
                <tr>
                    <td>15:00</td>
                    <td>Web-based cognitive testing in PD</td>
                    <td>Adrian Owen – University of Western Ontario</td>
                </tr>
                <tr>
                    <td>15:45</td>
                    <td>Break</td>
                    <td></td>
                </tr>
                <tr>
                    <td>16:00</td>
                    <td>Alpha-synuclein transmission in vivo</td>
                    <td>Eliezer Masliah – UCSD</td>
                </tr>
                <tr>
                    <td>16:45</td>
                    <td>Alpha-synuclein lowering as a therapeutic approach</td>
                    <td>Tracy Cole – Isis/Biogen</td>
                </tr>
                <tr>
                    <td>17:30</td>
                    <td>Wrap-up</td>
                    <td>Demetrius Maraganore</td>
                </tr>
                <tr>
                    <td>18:00</td>
                    <td>Adjourn</td>
                    <td></td>
                </tr>
                <tr>
                    <td>18:30</td>
                    <td>Reception</td>
                    <td>Museum of Anthropology</td>
                </tr>
                <tr>
                    <td>19:00</td>
                    <td>GEOPD Gala Dinner</td>
                    <td>Museum of Anthropology</td>
                </tr>
                </tbody>
            </table>
        </div>
    </li>
    <li>
        <time datetime="2015-09-13 0000">
            <span class="day">13</span>
            <span class="month">Sep</span>
        </time>
        <div class="info">
            <h2 class="title">Satellite Meeting: LONG-PD Study Investigators Meeting</h2>
            <table class="table desc">
                <tbody>
                <tr>
                    <td>8:30-12:00</td>
                    <td colspan="2">

                        <p>
                            Implementation and operational details of the LONG-PD study<br/>
                            <small><span class="label label-warning">LONG-PD study investigators only</span></small>
                        </p>
                        <ol>
                            <li>Detailed review of the final REDCap form</li>
                            <li>Designate required or optional forms or fields</li>
                            <li>Develop a data dictionary to standardize coding of variables</li>
                            <li>Designate biorepositories for DNA storage and genotyping</li>
                            <li>Discuss MTA and IRB requirements</li>
                            <li>Discuss enrollment targets and annual follow up requirements</li>
                            <li>Discuss Best Practices for data transfer and cleaning</li>
                            <li>Timeline to complete administrative requirements</li>
                            <li>Timeline to start enrollment and follow up assessments</li>
                            <li>Timeline for first genotyping and analyses</li>
                            <li>Other discussion</li>
                        </ol>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </li>
</ul>


